*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
  appearance: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  background-color: #fff;
  font-family: "dl";
  // font-family: "Raleway", Arial, Helvetica, sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  color: #333;
  @include fz('norm');
}

.lock-scroll body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

input, textarea {
  &::placeholder {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  background-color: transparent;
  border-spacing: 0;
}

th {
  text-align: left;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: #000;
  overflow: hidden;
}

.highlight {
  color: #333;
  background-color: #f9d548;
}
