.btn {
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 58px;
  text-align: center;
  font-family: "db";
  touch-action: manipulation;
  padding: 0 20px;
  cursor: pointer;
  color: #333;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: background 200ms linear, color 200ms linear, border 200ms linear;
  user-select: none;

  @include breakpoint(max-width $break-md) {
    font-size: 16px;
    line-height: 38px;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.disabled,
  [disabled] {
    background-color: #ededed;
    pointer-events: none;
  }

  &.loading {
    position: relative;
    color: transparent;
    pointer-events: none;
  
    &:after {
      border: 0.25em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      margin: (-32px / 2) 0 0 (-32px / 2);
      animation: rotate .75s linear infinite;
    }
    &:disabled {
        opacity: 1;
    }
  }
}

.btn_sm {
  font-size: 16px;
  line-height: 38px;
}

@keyframes rotate {
  to {
      transform: rotate(1turn)
  }
}

.btn_def {
  background-color: #f9d548;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

  &:active {
    background-color: #f9d548;
  }

  &:hover,
  &:focus {
    background-color: #e6c02a;
  }

  &.disabled,
  [disabled] {
    background-color: #ededed;
  }

  &.loading {
    color: #f9d548;

    &:after {
      color: #fff;
    }
  }
}

.btn_grey {
  background-color: #eae8e8;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

  &:active {
    background-color: darken(#eae8e8, 10);
  }

  &:hover,
  &:focus {
    background-color: darken(#eae8e8, 5);
  }

  &.disabled,
  [disabled] {
    background-color: #ededed;
  }

  &.loading {
    color: #eae8e8;

    &:after {
      color: #333;
    }
  }
}

.btn_white {
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

  &:active {
    background-color: darken(#fff, 5);
  }

  &:hover,
  &:focus {
    background-color: darken(#fff, 2);
  }

  &.disabled,
  [disabled] {
    background-color: #ededed;
  }

  &.loading {
    color: #fff;

    &:after {
      color: #333;
    }
  }
}

.btn_dark {
  background-color: #414141;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #6f6f6f;
  }
}

.btn_soc {
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn_soc-inst {
  background: url("../img/social-inst.svg") no-repeat 12px 12px #414141;
  background-size: 24px 24px;

  &:hover,
  &:focus {
    background-color: #6f6f6f;
  }
}

.btn_cloud {
  background-color: #f7f7f7;
  color: #333;
  padding-left: 30px;
  padding-right: 30px;

  &:before {
    content: "";
    background: url("../img/ico-back.svg") no-repeat 0 0;
    background-size: contain;
    width: 11px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    margin-top: -4px;
    position: relative;

    @include breakpoint(max-width $break-md) {
      margin-top: -2px;
    }
  }

  &:hover,
  &:focus {
    background-color: darken(#f7f7f7, 5);
  }
}

.btn_icon {
  background-color: #f9d548;
  width: 23px;
  height: 23px;
  padding: 0;

  @include breakpoint(min-width $break-md + 1) {
    width: 30px;
    height: 30px;
  }

  &:hover,
  &:focus {
    background-color: #e6c02a;
  }
}

.btn_icon-comment {
  background-image: url("../img/ico-comment.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;

  @include breakpoint(min-width $break-md + 1) {
    background-size: 30px 30px;
  }
}

.btn_icon-share {
  background-image: url("../img/ico-share.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;

  @include breakpoint(min-width $break-md + 1) {
    background-size: 30px 30px;
  }
}

.btn_icon-like {
  background-image: url("../img/ico-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;

  @include breakpoint(min-width $break-md + 1) {
    background-size: 30px 30px;
  }
}

.btn_wide {
  @include breakpoint(min-width $break-md + 1) {
    width: 330px;
  }
}

.btn_like {
  background-color: #f9d548;
  color: #333;
  font-size: 20px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;

  &:after {
    content: "";
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    width: 18px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
    margin-top: -2px;
    position: relative;
  }

  &.active:after {
    background-image: url("../img/icon-like_fill.svg");
  }

  &:hover,
  &:focus {
    background-color: #e6c02a;
  }
}
