.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  overflow: auto;
  transition: all 0.375s;
  display: none;

  &.beforeshow,
  &.hide {
    opacity: 0;
  }

  &__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    z-index: 1;

    &:after {
      @media #{$ie} {
        content: "";
        min-height: inherit;
        font-size: 0;
      }
    }
  }

  &__backdrop {
    background: #0C2340;
    opacity: 0.25;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.375s;

    .modal.beforeshow & {
      opacity: 0;
    }

    .modal.hide & {
      opacity: 0;
    }
  }

&__inner {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    transition: all 0.375s;
    z-index: 1;

    .modal.beforeshow & {
      transform: translate(0, 10px);
    }

    .modal.hide & {
      transform: translate(0, -100px);
    }
  }

  &__close {
    background: url("../img/ico-close.svg") center center no-repeat;
    background-size: 16px 16px;
    width: 28px;
    height: 28px;
    border: medium none;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 24px;

    @include breakpoint(max-width $break-md - 1px) {
      right: 14px;
      top: 14px;
    }

    &:focus {
      outline: none;
    }
  }
}
