.pager {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &_padding {
    padding-top: 40px;
    padding-bottom: 15px;
  
    @include breakpoint(max-width $break-lg) {
      padding-top: 20px;
    }
  }

  &_right &__wrap {
    text-align: right;
  }

  &__wrap_scroll {
    min-height: 0.01%;

    @include breakpoint(max-width $break-lg) {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    // @include clearfix();

    @include breakpoint(max-width $break-lg) {
      white-space: nowrap;
    }
  }

  &__list-item {
    display: inline-block;
    margin-bottom: 5px;

    @include breakpoint(max-width $break-lg) {
      margin-bottom: 0;
    }
  }

  &__list-item:first-child &__link {
    margin-left: 0;
  }

  &__list-item:last-child &__link {
    margin-left: 20px;
    padding-left: 14px;
    padding-right: 14px;
  }

  &__link {
    min-width: 30px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    // float: left;
    text-decoration: none;
    transition: background .15s ease-in-out, box-shadow .15s ease-in-out;

    .is-active > &,
    &:hover {
      background-color: #f9d548;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
    }

    .is-active > & {
      cursor: default;
    }
  }
}