.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  input[type="radio"] {
    display: none;
  }

  label {
    min-height: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    margin-right: 15px;
    margin-bottom: 6px;
    padding-left: 40px;
    position: relative;
    cursor: pointer;

    &:before {
      width: 25px;
      height: 25px;
      background-color: #ffffff;
      border: 1px solid #d0d0d0;
      content: "";
      border-radius: 99px;
      display: inline-block;
      margin-right: 10px;
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
      position: absolute;
      left: 0;
      top: 2px;
    }

    &:after {
      width: 25px;
      height: 25px;
      border: 1px solid #d3d3d3;
      content: "";
      border-radius: 99px;
      display: inline-block;
      margin-right: 10px;
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
      position: absolute;
      left: 0;
      top: 2px;
    }

    &:hover:before {
      border-width: 3px;
      border-color: #fff;
      background-color: #d3d3d3;
    }
  }
  input[type="radio"]:checked + label:before {
    border-width: 3px;
    background: #f9d548;
    border-color: #fff;
  }
}
