.tag-list {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &_padding {
    padding-bottom: 61px;

    @include breakpoint(max-width $break-lg) {
      padding-bottom: 20px;
    }
  }
  
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px -14px 0;
  }

  &__label {
    display: inline-block;
    margin: 0 14px 14px 0;
    cursor: pointer;
    position: relative;

    input {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__text {
    background-color: #fff;
    padding: 4px 14px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #9b9b9b;
    display: inline-block;
    position: relative;
    user-select: none;
    transition: color .15s ease-in-out, background .15s ease-in-out;

    &:hover {
      background-color: #f9d548;
      color: #333;
    }
  }

  input:checked + &__text {
    background-color: #f9d548;
    color: #333;
  }
}
