$fontList: (
  h1: (
    xl: (fz: 55px, lh: 1.27),
    lg: (fz: 55px, lh: 1.27),
    md: (fz: 55px, lh: 1.27),
    sm: (fz: 22px, lh: 1.36)
  ),
  h2: (
    xl: (fz: 30px, lh: 1),
    lg: (fz: 30px, lh: 1),
    md: (fz: 30px, lh: 1),
    sm: (fz: 20px, lh: 1.3)
  ),
  h3: (
    xl: (fz: 26px, lh: 1.15),
    lg: (fz: 26px, lh: 1.15),
    md: (fz: 26px, lh: 1.15),
    sm: (fz: 18px, lh: 1.33)
  ),
  h4: (
    xl: (fz: 20px, lh: 1.5),
    lg: (fz: 20px, lh: 1.5),
    md: (fz: 20px, lh: 1.5),
    sm: (fz: 16px, lh: 1.5)
  ),
  norm: (
    xl: (fz: 19px, lh: 1.48),
    lg: (fz: 19px, lh: 1.48),
    md: (fz: 19px, lh: 1.48),
    sm: (fz: 14px, lh: 1.58)
  ),
  small: (
    xl: (fz: 14px, lh: 1.4),
    lg: (fz: 14px, lh: 1.4),
    md: (fz: 14px, lh: 1.4),
    sm: (fz: 14px, lh: 1.4)
  )
) !default;

@mixin getProps($size: size, $key: norm, $lh: false) {
  $fontListProps: map-get($fontList, $key);
  $fontProps: map-get($fontListProps, $size);
  font-size: map-get($fontProps, 'fz');
  @if $lh {
    line-height: $lh;
  } @else {
    line-height: map-get($fontProps, 'lh');;
  }
}

@mixin fz($key: norm, $lh: false) {
  @include getProps('xl', $key, $lh);
  @include breakpoint(max-width $break-xl) {
    @include getProps('lg', $key, $lh)
  }
  @include breakpoint(max-width $break-lg) {
    @include getProps('md', $key, $lh)
  }
  @include breakpoint(max-width $break-md) {
    @include getProps('sm', $key, $lh)
  }
}

h1, .h1 {
  font-family: "dbl";
  @include fz("h1");
  margin: 0 0 30px 0;

  @include breakpoint(min-width $break-md + 1) {
    margin-bottom: 60px;
  }
}

h2, .h2 {
  font-family: "db";
  @include fz("h2");
  margin: 0 0 40px 0;

  @include breakpoint(min-width $break-md + 1) {
    margin-bottom: 50px;
  }
}

h3, .h3 {
  font-family: "db";
  @include fz("h3");
  margin: 0 0 40px 0;

  @include breakpoint(min-width $break-md + 1) {
    margin-bottom: 50px;
  }
}

h4, .h4 {
  font-family: "db";
  @include fz("h4");
  margin: 0 0 40px 0;

  @include breakpoint(min-width $break-md + 1) {
    margin-bottom: 50px;
  }
}

.lead {
  @include fz("norm");
}

.figure {
  @include clearfix();
  background-color: #f9d548;
  position: relative;
  max-width: 100%;
  margin: 0;

  @include breakpoint(min-width $break-lg + 1px) {
    margin-bottom: 228px;
    margin-left: -20px;
    padding: 35px 205px 0 110px;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    margin-left: -110px;
    padding-right: 220px;
  }

  @include breakpoint(max-width $break-md) {
    display: block;
    margin-right: -20px;
    margin-left: -20px;
    max-width: none;
  }

  @include breakpoint(max-width $break-sm) {
    margin-bottom: 20px;
  }

  &__img {
    display: block;
    width: 100%;
    transition: width 400ms ease-out 100ms;

    @include breakpoint(min-width $break-lg + 1px) {
      width: 640px;
      float: left;
      margin-left: -440px;
      margin-bottom: -168px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      width: 840px;
    }
  }

  &__caption {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    font-family: "dm";
    color: #333;
    padding: 20px;

    @include breakpoint(min-width $break-md + 1px) {
      padding: 34px 60px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: 205px;
      margin-top: 20px;
      padding: 16px 20px;
      position: absolute;
      top: 0;
      right: 0;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      max-width: 220px;
      padding-left: 40px;
    }
  }
}

.desktop {
  .figure.animate-start .figure__img {
    @include breakpoint(min-width $break-lg + 1px) {
      width: 440px;
      margin-bottom: -100px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      width: 640px;
      margin-bottom: -168px;
    }
  }

  .figure.animated .figure__img {
    @include breakpoint(min-width $break-lg + 1px) {
      animation: animateFigureLg 4s ease 0s;
      animation-fill-mode: forwards;
    }
    @include breakpoint(min-width $break-xl + 1px) {
      animation: animateFigureXl 4s ease 0s;
      animation-fill-mode: forwards;
    }
  }
}

.figure-inline {
  @include clearfix();
  background-color: #f9d548;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint(min-width $break-lg + 1px) {
    display: block;
    margin: 0 156px 0 -340px;
    padding: 49px 0 51px 50px;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    margin-left: -440px;
    margin-right: 330px;
  }

  &__img {
    display: block;
    // margin-bottom: -168px;

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: 460px;
      float: right;
      margin-right: -156px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      max-width: none;
    }
  }

  &__caption {
    display: inline-block;
    padding: 38px 25px 20px;

    @include breakpoint(min-width $break-md + 1px) {
      padding: 40px 60px 30px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: 330px;
      padding: 22px 0 0 0;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.44;
    font-family: "db";
    margin-bottom: 28px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 38px;
    }
    
    @include breakpoint(min-width $break-lg + 1px) {
      margin-bottom: 28px;
    }
  }

  &__lead {
    font-size: 15px;
    line-height: 1.67;
    font-family: "dm";

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}

@keyframes animateFigureLg {
  0% {
    width: 440px;
    margin-bottom: -100px;
  }
  100% {
    width: 640px;
    margin-bottom: -168px;
  }
}

@keyframes animateFigureXl {
  0% {
    width: 640px;
  }
  100% {
    width: 840px;
  }
}

blockquote {
  margin: 0 0 20px 0;
}

.user-blockquote {
  position: relative;

  &__header {
    padding: 33px 0 25px;

    @include breakpoint(min-width $break-sm + 1px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include breakpoint(min-width $break-md + 1px) {
      padding: 50px 50px 27px;
    }
  }

  .animate-border {
    position: relative;

    &:before {
      background-color: #f9d548;
      width: 100%;
      height: 5px;
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      transition: width 400ms ease-out 100ms;

      .desktop & {
        width: 18%;
      }
    }

    &:after {
      background-color: #f9d548;
      width: 100%;
      height: 5px;
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: width 400ms ease-out 100ms;

      .desktop & {
        width: 18%;
      }
    }
  }

  &__header &__text {
    padding: 0;
    border: medium none;
    margin-bottom: 10px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    padding-top: 24px;
    padding-bottom: 14px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-top: 40px;
      padding-bottom: 20px;
      text-align: right;
    }

    .user-info {
      max-width: 256px;
      padding-right: 0;

      @include breakpoint(min-width $break-lg + 1px) {
        max-width: 290px;
      }
    }

    .user-info__content {
      margin-top: 6px;

      @include breakpoint(min-width $break-md + 1px) {
        margin-top: -6px;
      }
    }

    .user-info_no-image {
      max-width: 166px;

      @include breakpoint(min-width $break-lg + 1px) {
        max-width: 200px;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.63;
    font-family: "db";
    margin-bottom: 17px;
    text-align: center;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 24px;
    }
  }

  &__text {
    font-family: "dm";
    text-align: center;
    padding: 35px 5px;
    margin-bottom: -6px;

    @include breakpoint(min-width $break-md + 1px) {
      padding: 36px 50px 36px;
    }
  }

  &__cite {
    font-style: normal;
    display: inline-block;
  }
}

.desktop .user-blockquote.animated .animate-border {
  &:before,
  &:after {
    animation: animateLine 4s ease 0s;
    animation-fill-mode: forwards;
  }
}

.blockquote {
  position: relative;
  padding-top: 39px;
  padding-bottom: 14px;

  @include breakpoint(min-width $break-md + 1px) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &:before {
    background-color: #f9d548;
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: width 400ms ease-out 100ms;

    .desktop & {
      width: 18%;
    }
  }

  &:after {
    background-color: #f9d548;
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 400ms ease-out 100ms;

    .desktop & {
      width: 18%;
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 1.44;
    font-family: "dm";
    padding-bottom: 2px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 24px;
      line-height: 1.42;
    }
  }
}
.desktop .blockquote.animated {
  &:before,
  &:after {
    animation: animateLine 4s ease 0s;
    animation-fill-mode: forwards;
  }
}

@keyframes animateLine {
  0% {
    width: 18%;
  }
  100% {
    width: 100%;
  }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl.unstyled {
  dd {
    margin-left: 0;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  &__title {
    font-family: "db";
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 37px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 30px;
    }
  }

  > li {
    position: relative;
    margin: 2.2em 0;
    padding-left: 36px;

    @include breakpoint(min-width $break-md + 1px) {
      margin: 1.3em 0;
    }

    &:not(:empty):before {
      content: "";
      background-color: #f9d548;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      right: inherit;
      top: 0.6em;
      margin-left: -26px;
    }
  }

  b {
    @include fz(h3);
    font-weight: 400;
  }
}

.list_check {
  > li:not(:empty) {
    &:before {
      background: url("../img/ico-check.svg") no-repeat 0 0;
      width: 16px;
      height: 21px;
      border-radius: 0;
      top: 0.1em;
      right: inherit;
      margin-left: -36px;

      @include breakpoint(min-width $break-md + 1px) {
        top: 0.3em;
      }
    }
  }
}

.list-num {
  list-style: none;
  padding-left: 0;
  margin: 0;
  counter-reset: item;

  > li {
    position: relative;
    margin: 2.15em 0;
    padding-left: 36px;

    @include breakpoint(min-width $break-md + 1px) {
      margin: 1.15em 0;
    }

    &:before {
      background: none;
      content: counters(item, ".") ". ";
      counter-increment: item;
      font-size: 18px;
      line-height: 1.56;
      font-family: "db";
      position: absolute;
      left: 0;
      top: -0.3em;
      color: #f9d548;
    }
  }
}

.text-ins {
  text-align: center;
  padding: 48px 25px 25px;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint(min-width $break-md + 1px) {
    padding: 65px 65px 40px;
    margin-left: 0;
    margin-right: 0;
  }

  &__wrap {
    position: relative;
    z-index: 1;
  }

  &__bg {
    background-color: #f9d548;
    transition: transform 400ms ease-out 100ms;
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .desktop & {
      transform: scale(0.8);
    }

    .desktop .text-ins.animated > & {
      animation: animateInsBg 3s;
      animation-fill-mode: forwards;
    }
  }

  &__title {
    font-family: "db";
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 27px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 40px;
    }
  }

  &__lead {
    font-size: 15px;
    line-height: 1.67;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
      line-height: 1.39;
    }
  }
}

@keyframes animateInsBg {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.table-info {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint(min-width $break-md + 1px) {
    margin-left: 0;
    margin-right: 0;
  }

  .article-section__col-center & {
    margin-left: 0;
    margin-right: 0;

    @media (min-width: 992px) and (max-width: 1279px) {
      margin-left: calc(-358px + (-395 + 358) * ((100vw - 992px) / (1279 - 992)));
      margin-right: calc(-28px + (-65 + 28) * ((100vw - 992px) / (1279 - 992)));
    }

    @media (min-width: 1280px) and (max-width: 1360px) {
      margin-left: calc(-410px + (-440 + 410) * ((100vw - 1280px) / (1360 - 1280)));
      margin-right: calc(-80px + (-110 + 80) * ((100vw - 1280px) / (1360 - 1280)));
    }

    @include breakpoint(min-width 1361px) {
      margin-left: -440px;
      margin-right: -110px;
    }
  }

  &__wrap {
    background-color: #f3f3f3;
    padding: 6px 10px 10px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      padding: 43px 10px 50px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    width: 100%;
    min-height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    padding: 40px 20px;

    @include breakpoint(min-width $break-lg + 1px) {
      padding: 0 50px;
    }

    &:before {
      content: "";
      width: 100%;
      height: 0;
      border-top: 1px solid #d8d7d7;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;

      @include breakpoint(min-width $break-lg + 1px) {
        width: 0;
        height: 100%;
        border-top: medium none;
        border-right: 1px solid #d8d7d7;
        right: auto;
        bottom: 0;
      }
    }

    &:first-child:before {
      content: none;
    }
  }

  &__col_1 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: none;

    @include breakpoint(min-width $break-lg + 1px) {
      flex-basis: percentage(350 / 1260);
      max-width: percentage(350 / 1260);
    }
  }

  &__col_2 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: none;

    @include breakpoint(min-width $break-lg + 1px) {
      flex-basis: percentage(474 / 1260);
      max-width: percentage(474 / 1260);
    }
  }

  &__col_3 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: none;

    @include breakpoint(min-width $break-lg + 1px) {
      flex-basis: percentage(436 / 1260);
      max-width: percentage(436 / 1260);
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
  }

  &__cell_mb-reverse {
    @include breakpoint(max-width $break-md) {
      flex-direction: column-reverse;
    }
  }

  &__number {
    white-space: nowrap;
  }

  &__number-value {
    color: #e40000;
    font-family: "gb";
    font-size: 60px;
    line-height: 1;

    @include breakpoint(min-width $break-xl + 1px) {
      font-size: 100px;
    }
  }

  &__number-text {
    font-family: "gb";
    font-size: 32px;
    line-height: 1;
    color: #000;
    padding-left: 10px;

    @include breakpoint(min-width $break-xl + 1px) {
      padding-left: 17px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.61;

    @include breakpoint(min-width $break-md + 1px) {
      line-height: 1.45;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      font-size: 20px;
    }
  }

  &__number + &__text {
    padding-top: 14px;
  }

  &__text + &__number {
    padding-top: 16px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-top: 19px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      padding-top: 26px;
    }
  }
}

.ins {
  text-decoration: none;
  background-color: #f9d548;
}

.desktop .ins.animate-right {
  opacity: 0;
  position: relative;
  visibility: hidden;
  left: -100px;

  &.animated {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
    left: 0;
    transition: left 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
  border: 1px solid #d8d7d7;
  width: 100%;
  max-width: 100%;

  th {
    font-size: 16px;
    line-height: 1.75;
    font-family: "db";

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 19px;
      line-height: 1.47;
    }
  }

  td,
  th {
    padding: 1.1rem 1.2rem 1.25rem;
    vertical-align: top;
    border: 1px solid #d8d7d7;
  }

  thead th {
    background-color: #f3f3f3;
    vertical-align: bottom;
    font-family: "db";
  }
}

.user-list {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint(min-width $break-md + 1px) {
    margin-left: 0;
    margin-right: 0;
  }

  @include breakpoint(min-width $break-lg + 1px) {
    padding-right: 36px;
  }

  &__row {
    padding-top: 46px;
    @include clearfix();
  }

  &__row + &__row {
    margin-top: 70px;
  }

  &__item {
    width: 100%;

    @include breakpoint(min-width $break-md + 1px) {
      width: 654px;
      float: right;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      width: 913px;
    }
  }

  &__item-wrap {
    background-color: rgba(#d8d8d8, 0.17);
    position: relative;
    padding: 158px 20px 47px 20px;

    @include breakpoint(min-width $break-md + 1px) {
      padding: 13px 30px 51px 142px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      padding: 29px 40px 31px 162px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      padding-left: 172px;
    }

    &:after {
      content: "";
      border-bottom: 15px solid #f9d548;
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;

      @include breakpoint(min-width $break-lg + 1px) {
        width: 0;
        height: 100%;
        border-bottom: medium none;
        border-right: 15px solid #f9d548;
        left: auto;
        top: 0;
      }
    }
  }

  &__item-media {
    width: 186px;
    height: 186px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: -46px;

    @include breakpoint(min-width $break-md + 1px) {
      left: -76px;
    }
  }

  &__item-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  &__item-content {

  }

  &__item-table {

  }

  &__item-table-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: 17px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-top: 19px;
      margin-bottom: 19px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      margin-top: 22px;
      margin-bottom: 22px;
    }
  }

  &__item-table-col {
    width: 100%;
    min-height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 16px;
    line-height: 1.75;
    font-family: "dm";
    padding-right: 10px;

    @include breakpoint(min-width $break-xl + 1px) {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__item-table-col_1 {
    color: #a5a5a5;
    flex-basis: 100%;
    max-width: none;
    
    @include breakpoint(min-width $break-md + 1px) {
      $width: 654 - 30 - 142;
      flex-basis: percentage(264 / $width);
      max-width: percentage(264 / $width);
    }

    @include breakpoint(min-width $break-xl + 1px) {
      $width: 913 - 40 - 172;
      flex-basis: percentage(264 / $width);
      max-width: percentage(264 / $width);
    }
  }

  &__item-table-col_2 {
    flex-basis: 100%;
    max-width: none;

    @include breakpoint(min-width $break-md + 1px) {
      $width: 654 - 30 - 142;
      flex-basis: percentage(($width - 264) / $width);
      max-width: percentage(($width - 264) / $width);
    }
    
    @include breakpoint(min-width $break-xl + 1px) {
      $width: 913 - 40 - 172;
      flex-basis: percentage(($width - 264) / $width);
      max-width: percentage(($width - 264) / $width);
    }
  }
}