/// including variables ///

// colors
$orange: #f48222 !default;

// media queries
$break-sm: 576px;
$break-md: 767px;
$break-lg: 991px;
$break-xl: 1279px;

// use breakpoint
// @include breakpoint(max-width $break-lg) -- max-width
// @include breakpoint(min-width $break-md) -- min-width

// transitions
$trs  : ease-in-out 0.2s !default;
$trs3 : ease-in-out 0.3s !default;
$ie: 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)';
