.animate-up {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);

  &.animated {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
    transform: translate(0, 0);
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  }
}

.animate-down {
  opacity: 0.3;
  transform: translate(0, -100px);
  
  &.animated {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 750ms ease-out 100ms;
  }
}

.animate-right {
  opacity: 0;
  visibility: hidden;

  @include breakpoint(min-width $break-md + 1px) {
    transform: translate(-100px, 0);
  }

  @include breakpoint(max-width $break-md) {
    transform: translate(0, 50px);
  }

  &.animated {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
    transform: translate(0, 0);
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  }
}

.animate-left {
  opacity: 0;
  visibility: hidden;

  @include breakpoint(min-width $break-md + 1px) {
    transform: translate(100px, 0);
  }

  @include breakpoint(max-width $break-md) {
    transform: translate(0, 50px);
  }

  &.animated {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
    transform: translate(0, 0);
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  }
}
