.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        flex: 0 0 auto;
    }

    &__main {
        flex: 1 1 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }
}

