.archive-list {
  padding: 40px 60px 60px;

  @include breakpoint(max-width $break-lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint(max-width $break-md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__wrap {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .row {
      @include breakpoint(max-width $break-md) {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
  }

  &__col {
    margin-bottom: 40px;

    @include breakpoint(max-width $break-md) {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.archive-item {
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__media {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  &__content {
    margin-top: auto;
  }

  &__title {
    font-family: "db";
    font-size: 26px;
    line-height: 1.38;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 30px 10px 10px;

    @media (min-width: $break-lg + 1px) and (max-width: $break-xl) {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 0;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 0;
    }
  }

  &__control {
    
  }

  &__control-item {
    padding-top: 20px;

    .btn {
      width: 100%;
      box-shadow: none;
    }
  }
}

.archive-sort {
  &__wrap {
    padding-top: 66px;
    padding-bottom: 30px;

    @media (min-width: $break-md + 1px) and (max-width: $break-xl) {
      padding-bottom: 0;
    }

    @include breakpoint(max-width $break-md) {
      padding-top: 36px;
      padding-bottom: 20px;
    }
  }

  &__col {
    @include breakpoint(max-width $break-md) {
      margin-bottom: 20px;
    }

    &:last-child {
      @include breakpoint(max-width $break-md) {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    width: 100%;
  }
}
