.article-review {
  padding: 20px 0 0 0;
  display: block;
  margin: 0;
  list-style: none;
  font-size: 0;

  @include breakpoint(min-width $break-md + 1px) {
    padding-top: 0;
  }

  &__item {
    display: inline-block;
    position: relative;
    color: #bababa;
    min-width: 79px;
  }

  &__item_icon-eye {
    min-width: 52px;
    padding-left: 16px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-left: 24px;
    }

    &:before {
      width: 16px;
      height: 10px;
      background: url("../img/ico-eye.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -5px;

      @include breakpoint(min-width $break-md + 1px) {
        width: 20px;
        height: 14px;
        margin-top: -7px;
      }
    }
  }

  &__item_icon-heart {
    min-width: 50px;
    padding-left: 12px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-left: 18px;
    }
    
    &:before {
      width: 11px;
      height: 10px;
      margin-top: -5px;
      background: url("../img/ico-heart.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;

      @include breakpoint(min-width $break-md + 1px) {
        width: 18px;
        height: 15px;
        margin-top: -7px;
      }
    }
  }

  &__quantity {
    font-size: 12px;
    display: inline-block;
    padding: 0 5px 0 3px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
    }
  }
}