.article-list {
  background-color: #f7f7f7;
  padding: 60px;

  @include breakpoint(max-width $break-lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint(max-width $break-md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &:first-child {
    .app__main > & {
      @include breakpoint(max-width $break-lg) {
        padding-top: 88px;
      }

      @include breakpoint(max-width $break-md) {
        padding-top: 85px;
      }
    }
  }

  &_no-gutters-md {
    @include breakpoint(max-width $break-md) {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      @include breakpoint(max-width $break-md) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .row > .col,
    .row > [class*="col-"] {
      @include breakpoint(max-width $break-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__row-no-gutters-md {
    > .col,
    > [class*="col-"] {
      @include breakpoint(max-width $break-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__wrap {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  &__control {
    text-align: center;

    @include breakpoint(min-width $break-md + 1) {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }

  &__col {
    margin-bottom: 40px;

    @include breakpoint(max-width $break-md) {
      margin-bottom: 20px;
    }
  }

  > .tag-list {
    margin-top: -8px;
  }
}
