.article-section {
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;

  .app__main > & {
    @include breakpoint(max-width $break-lg) {
      padding-top: 88px;
    }

    @include breakpoint(max-width $break-md) {
      padding-top: 85px;
    }
  }

  &__container {
    position: relative;
  }

  &__col-center {
    @include breakpoint(min-width $break-lg + 1px) {
      flex: 0 0 590px;
      max-width: 590px;
      margin-left: 330px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      flex: 0 0 770px;
      max-width: 770px;
      margin-left: 330px;
    }
  }
}

.article-intro {
  height: 601px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 82px;

  @include breakpoint(min-width $break-lg + 1px) {
    height: 390px;
    margin-bottom: 54px;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    margin-bottom: 72px;
  }

  @media (min-width: 321px) and (max-width: 992px) {
    height: calc(130px + (320 - 130) * ((100vw - 321px) / (992 - 321)));
    margin-bottom: calc(30px + (82 - 30) * ((100vw - 321px) / (992 - 321)));
  }

  @include breakpoint(max-width 320px) {
    height: 130px;
    margin-bottom: 30px;
  }
}

.article-user {
  @include breakpoint(min-width $break-lg + 1px) {
    max-width: 330px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -275px;
    z-index: 1;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    margin-left: -365px;
  }

  @include breakpoint(max-width $break-lg) {
    margin-bottom: 2.4rem;
  }
}

.article-header {
  position: relative;

  &__tag {
    font-size: 10px;
    line-height: 2.5;
    text-transform: uppercase;

    @include breakpoint(min-width $break-md + 1) {
      font-size: 14px;
    }
  }

  &__title {
    padding-top: 11px;

    @include breakpoint(min-width $break-md + 1) {
      padding-top: 16px;
    }

    @include breakpoint(min-width $break-lg + 1) {
      padding-top: 26px;
    }
  }

  &__controls {
    font-size: 0;

    @include breakpoint(max-width $break-md) {
      padding-bottom: 1rem;
    }

    @include breakpoint(min-width $break-md + 1) {
      margin-right: -10px;
      margin-left: -10px;
      position: absolute;
      top: 0;
      right: 20px;
    }

    .btn_like {
      @include breakpoint(min-width $break-md + 1) {
        margin-top: -10px;
      }
    }

    .btn.btn_icon {
      margin-left: 8px;
      margin-right: 8px;

      @include breakpoint(min-width $break-md + 1) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.article-footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 0;

  @include breakpoint(min-width $break-md + 1) {
    text-align: right;
  }

  .user-show {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .user-show__dropdown {
    @include breakpoint(max-width $break-md) {
      margin-left: -150px;
      right: auto;
      left: 0;
    }
  }
}
