.article-item {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
  text-decoration: none;
  position: relative;

  &:hover {
    box-shadow: none;

    @include breakpoint(min-width 769px) {
      height: 100%;
    }
  }

  &:hover:not(.article-item_full) &__bg {
    opacity: 1;
  }

  // &:hover:not(.article-item_full) &__media {
  //   height: 44px;
  //   opacity: 0;

  //   @include breakpoint(max-width 320px) {
  //     height: 1px;
  //   }
  // }

  &__media {
    width: 100%;
    height: 370px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    // transition: opacity 176ms linear;

    @media (min-width: 321px) and (max-width: 768px) {
      height: calc(168px + (240 - 168) * ((100vw - 321px) / (768 - 321)));
    }

    @include breakpoint(max-width 320px) {
      height: 168px;
    }
  }

  &__content {
    display: block;
    padding: 30px 30px 25px;

    @include breakpoint(max-width $break-md) {
      padding: 19px 20px 16px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;

    @include breakpoint(max-width $break-md) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__title {
    max-width: 450px;
    font-size: 28px;
    line-height: 36px;
    font-family: "db";
    margin-top: 25px;
    margin-bottom: 28px;

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 17px;
    }
  }

  &:not(.article-item_list):not(.article-item_full) &__title {
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint(max-width $break-md) {
      height: 48px;
    }
  }

  &__leadtext {
    max-width: 450px;
    font-size: 20px;
    line-height: 36px;
    display: block;

    @include breakpoint(max-width $break-md) {
      font-size: 14px;
      line-height: 22px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__review-wrap {
    display: block;
    padding-top: 45px;

    @include breakpoint(max-width $break-md) {
      padding-top: 32px;
    }
  }

  &__bg {
    background-position: 0 0;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 44px;
    transition: opacity 176ms linear;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @include breakpoint(max-width $break-md) {
      padding-top: 1px;
    }
  }

  &__bg &__content {
    @include breakpoint(max-width $break-md) {
      padding-top: 39px;
    }
  }

  &__bg &__label {
    font-family: "db";
    font-size: 16px;

    @include breakpoint(max-width $break-md) {
      font-size: 12px;
    }
  }

  &__bg &__title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 26px;

    @include breakpoint(max-width $break-md) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &:not(.article-item_list):not(.article-item_full) &__bg &__title {
    height: 78px;

    @include breakpoint(max-width $break-md) {
      height: 56px;
    }
  }

  &__bg &__leadtext {
    font-family: "dm";
  }

  &__bg &__review-wrap {
    padding-top: 132px;

    @include breakpoint(max-width $break-md) {
      padding-top: 120px;
    }
  }

  &__bg &__review-item {
    opacity: 1;

    .svg-icon {
      fill: #333;
    }
  }

  &__bg &__review-quantity {
    font-family: "dm";
  }

  &__review {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__review-item {
    min-width: 74px;
    display: inline-block;
    opacity: 0.4;
    transition: opacity 176ms linear;

    @include breakpoint(max-width $break-md) {
      min-width: 49px;
    }
  }

  &__review-item_icon {
    position: relative;

    &:before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
    }
  }

  &__review-item_icon-eye {
    .svg-icon {
      fill: #bcbcbc;
      font-size: 20px;

      @include breakpoint(max-width $break-md) {
        font-size: 14px;
      }
    }
  }

  &__review-item_icon-heart {
    .svg-icon {
      fill: #bcbcbc;
      font-size: 16px;

      @include breakpoint(max-width $break-md) {
        font-size: 12px;
      }
    }
  }

  &__review-quantity {
    font-size: 18px;
    display: inline-block;
    padding: 0 5px 0 3px;

    @include breakpoint(max-width $break-md) {
      font-size: 12px;
    }
  }
}

.article-item.article-item_full {
  color: #fff;
  .article-item {
    &__media {
      height: 614px;

      @media (min-width: 321px) and (max-width: 768px) {
        height: calc(154px + (330 - 154) * ((100vw - 321px) / (768 - 321)));
      }

      @include breakpoint(max-width 320px) {
        height: 154px;
      }
    }

    &__content {
      padding: 48px 50px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      @include breakpoint(max-width $break-md) {
        padding: 18px 20px;
      }
    }

    &__header {
      @include breakpoint(min-width 763px) {
        flex-direction: column-reverse;
      }
    }

    &__title {
      max-width: 800px;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 0.04em;
      margin-bottom: 7px;

      @include breakpoint(max-width $break-md) {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: -2px;
      }
    }

    &__leadtext {
      max-width: 800px;
      font-size: 42px;
      line-height: 60px;
      font-family: "db";
      letter-spacing: 0.04em;
      margin-bottom: 24px;

      @include breakpoint(max-width $break-md) {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }

    &__review-wrap {
      padding-top: 57px;

      @include breakpoint(max-width $break-md) {
        display: none;
      }
    }

    &__review-item {
      opacity: 1;

      .svg-icon {
        fill: #fff;
      }
    }

    &__review-quantity {
      font-family: "dm";
    }

    &__bg {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      display: block;
      pointer-events: none;
      opacity: 1;
      position: absolute;
      top: 165px;
      left: 0;
      right: 0;
      bottom: 0;

      @media (min-width: 321px) and (max-width: 768px) {
        top: calc(42px + (80 - 42) * ((100vw - 321px) / (768 - 321)));
      }

      @include breakpoint(max-width 320px) {
        top: 42px;
      }
    }
  }
}

.article-item_list {
  max-width: 952px;

  &:hover:not(.article-item_full) .article-item__bg  {
    opacity: 0;
  }

  .article-item {
    &__media {
      display: none;
    }

    &__title {
      max-width: none;
      margin-top: 28px;
      margin-bottom: 12px;
    }

    &__leadtext {
      max-width: none;
    }

    &__review-wrap {
      padding-top: 38px;
    }
  }

  &:hover:not(.article-item_full) .article-item__content {
    @include breakpoint(max-width $break-md) {
      padding-top: 19px;
    }
  }

  &:hover:not(.article-item_full) .article-item__review-wrap {
    padding-top: 38px;

    @include breakpoint(max-width $break-md) {
      padding-top: 38px;
    }
  }

  &:hover:not(.article-item_full) .article-item__label {
    font-size: 14px;
    font-family: "dl";

    @include breakpoint(max-width $break-md) {
      font-size: 10px;
    }
  }

  &:hover:not(.article-item_full) .article-item__title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 28px;
    margin-bottom: 12px;

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 28px;
      margin-bottom: 12px;
    }
  }

  &:hover:not(.article-item_full) .article-item__leadtext {
    font-family: "dl";
  }
}
