.comments {

  &__wrap {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #f7f7f7;
    padding: 42px 20px 40px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-top: 40px;
    }
  }

  &__container {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: 680px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      max-width: 840px;
    }
  }

  &__list {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 19px 20px 40px;

    @include breakpoint(min-width $break-md + 1px) {
      padding: 64px 0;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: 680px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      max-width: 840px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 28px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 30px;
      line-height: 1;
      margin-bottom: 40px;
    }
  }

  &__form {

  }

  &__form-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__form-col {
    width: 100%;
    min-height: 1px;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__form-col_control {

  }

  &__form-col_btn {
    flex-grow: 0;
    flex-basis: 70px;
    max-width: 70px;
    text-align: right;

    @include breakpoint(min-width $break-md + 1px) {
      flex-basis: 90px;
      max-width: 90px;
    }
  }

  &__form-control {
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 0.75rem 1rem 0.85rem;
    @include fz("norm");
    color: #333;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid #ededed;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s;

    @include placeholder(#bcbcbc);
  }

  &__form-btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #f9d548;
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: medium none;
    transition: background-color 200ms linear;
    user-select: none;
    position: relative;

    &:after {
      width: 24px;
      height: 24px;
      background: url("../img/ico-send.svg") no-repeat center;
      background-size: 24px 24px;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.comment {
  border-bottom: 1px solid #d8d7d7;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include breakpoint(min-width $break-md + 1px) {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  &:before {
    width: 0;
    height: 100%;
    border-left: 1px solid #d8d7d7;
    position: absolute;
    top: 30px;
    left: 25px;

    @include breakpoint(min-width $break-md + 1px) {
      top: 26px;
      left: 34px;
    }
  }

  &__media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    position: relative;

    @include breakpoint(min-width $break-md + 1px) {
      width: 70px;
      height: 70px;
    }
  }

  &__img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &__inner {
    width: calc(100% - 50px);
    padding: 4px 0 26px 20px;

    @include breakpoint(min-width $break-md + 1px) {
      width: calc(100% - 70px);
      padding: 4px 0 22px 31px;
    }
  }

  &__inner-header {
    margin-top: -7px;
    min-height: 31px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-top: 0;
    }
  }

  &__inner-content {
    max-width: 560px;
    margin-left: -70px;
    padding-top: 23px;
    padding-right: 10px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-left: 0;
      padding-top: 0;
      padding-right: 20px;
    }
  }

  &__header {
    font-size: 0;
    margin-bottom: 6px;
  }

  &__name {
    font-size: 14px;
    line-height: 2;
    opacity: 0.4;
    color: #333;
    display: inline-block;
    margin-right: 23px;
    transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 16px;
      line-height: 1.75;
    }

    &:hover {
      color: #f9d548;
      opacity: 1;
    }
  }

  &__datetime {
    font-size: 14px;
    line-height: 2;
    opacity: 0.4;
    display: block;
    margin-right: 5px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 16px;
      line-height: 1.75;
      display: inline-block;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 0;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__inner-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -70px;
    padding-top: 17px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-left: 0;
      padding-top: 32px;
    }
  }

  &__activity {
    min-width: 74px;
    display: inline-block;
    transition: opacity 176ms linear;
    color: #929292;

    @include breakpoint(max-width $break-md) {
      min-width: 49px;
    }
  }

  &__activity-icon {
    cursor: pointer;

    .svg-icon {
      fill: none;
      stroke: #929292;
      font-size: 17px;

      @include breakpoint(max-width $break-md) {
        font-size: 12px;
      }

      .comment__activity.is-active & {
        fill: #333;
        stroke: #333;
      }
    }
  }

  &__activity-quantity {
    font-size: 18px;
    display: inline-block;
    padding: 0 5px 0 3px;

    @include breakpoint(max-width $break-md) {
      font-size: 12px;
    }
  }

  &__btn-reply {
    color: #929292;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 176ms ease-out;

    @include breakpoint(max-width $break-md) {
      font-size: 12px;
    }
  
    &:after {
      content: "";
      background: url("../img/ico-arrow-replies.svg") no-repeat 0 0;
      background-size: contain;
      width: 22px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 18px;
      margin-top: -5px;
      position: relative;
  
      @include breakpoint(max-width $break-md) {
        width: 15px;
        height: 11px;
        margin-left: 8px;
        margin-top: -3px;
      }
    }

    &:hover {
      color: #333;
    }
  }
}

.replies {
  flex-basis: 100%;
  margin-top: -10px;

  .replies {
    margin-top: 0;

    .replies__wrap {
      border-top: 1px solid #d8d7d7;
      padding-top: 20px;

      @include breakpoint(min-width $break-md + 1px) {
        margin-top: 16px;
        padding-top: 40px;
        margin-bottom: -12px;
      }
    }
  }

  &__wrap {
    @include breakpoint(min-width $break-md + 1px) {
      margin-left: 101px;
      padding-top: 26px;
      margin-top: 0;
    }
  }

  &__form {
  }

  &__form-row {

  }

  &__form-control {
    display: block;
    width: 100%;
    min-height: 173px;
    padding: 0.75rem 1rem 0.85rem;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid #ededed;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s;

    @include breakpoint(min-width $break-md + 1px) {
      min-height: 140px;
    }

    @include placeholder(#bcbcbc);
  }

  &__form-action {
    padding-top: 20px;
    padding-bottom: 26px;
    font-size: 0;

    @include breakpoint(min-width $break-sm + 1px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: flex-start;
      padding-bottom: 30px;
    }

    .btn {
      @include breakpoint(min-width $break-lg + 1px) {
        width: 174px;
      }

      @include breakpoint(max-width $break-lg) {
        width: 160px;
        font-size: 16px;
        line-height: 48px;
      }

      @include breakpoint(max-width $break-sm) {
        width: 100%;
        max-width: 330px;
      }

      &:first-child {
        margin-left: 20px;

        @include breakpoint(max-width $break-sm) {
          margin-left: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .comment {
    border-bottom: medium none;
    border-top: 1px solid transparent;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-bottom: 0;
      padding-top: 25px;
      padding-bottom: 11px;
    }

    &:before {
      content: "";
    }

    &:last-child:before {
      content: none;
    }

    &:after {
      width: calc(100% - 71px);
      content: "";
      border-top: 1px solid #d8d7d7;
      height: 0;
      position: absolute;
      top: 0;
      left: 71px;

      @include breakpoint(min-width $break-md + 1px) {
        width: calc(100% - 101px);
        left: 101px;
      }
    }

    &:first-child:after {
      width: 100%;
      left: 0;
    }
  }

  .comment__inner-content {
    margin-left: 0;

    @include breakpoint(min-width $break-md + 1px) {
      max-width: 500px;
    }
  }

  .comment__inner-footer {
    margin-left: 0;
  }
}