.footer {
  background-color: #333;
  padding: 50px;

  @include breakpoint(max-width $break-md) {
    padding: 30px 40px 20px;
  }

  &__container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include breakpoint(min-width $break-md + 1px) {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      align-items: flex-end;
    }

    .btn {
      font-size: 15px;
      line-height: 48px;
      font-family: "dm";
      letter-spacing: 0.04em;
    }

    .btn.btn_cloud {
      &:before {
        @include breakpoint(max-width $break-xl) {
          margin-right: 12px;
        }

        @include breakpoint(max-width $break-md) {
          margin-right: 12px;
        }
      }
    }

    .btn.btn_cloud {
      @include breakpoint(max-width $break-md) {
        width: 235px;
      }
    }

    .btn.btn_dark {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 13px;

      @include breakpoint(max-width $break-md) {
        width: 235px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;

    @include breakpoint(min-width $break-md + 1px) {
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: calc(100% - 160px);
      max-width: calc(100% - 160px);
      // flex-basis: 700px;
      // max-width: 700px;
      justify-content: flex-end;
      padding-left: 30px;
      padding-top: 0;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      // justify-content: space-between;
    }
  }

  &__copyright {
    font-size: 14px;
    padding-bottom: 12px;
    color: #fff;
    display: inline-block;

    @include breakpoint(min-width $break-md + 1px) {
      padding-bottom: 12px;
      text-align: right;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      padding-bottom: 14px;
      padding-top: 12px;
      text-align: left;
    }
  }

  &__copyright + &__copyright {
    @include breakpoint(min-width $break-md + 1px) {
      margin-left: 30px;
    }
  }

  &__actions {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;

    @include breakpoint(max-width $break-md) {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      margin-left: auto;
    }

    .btn {
      margin-left: 15px;
      margin-right: 15px;

      @include breakpoint(max-width $break-md) {
        margin: 10px 0;
      }
    }

    .btn_def {
      width: 235px;
    }
  }
}
