.form-search {
  padding-top: 17px;
  margin-bottom: 44px;

  @include breakpoint(max-width $break-lg) {
    margin-bottom: 24px;
  }

  &__wrap {
    display: flex;
    flex-wrap: nowrap;
  }

  &__input-wrapper {
    width: calc(100% - 186px);

    @include breakpoint(max-width $break-md) {
      width: calc(100% - 110px);
    }
  }

  &__input {
    background-color: #fff;
    background-clip: padding-box;
    border: medium none;
    width: 100%;
    height: 60px;
    padding: 5px 30px;
    font-size: 18px;
    font-family: "dm";
    line-height: 1.25;
    color: #333;
    @include placeholder(#bcbcbc);

    @include breakpoint(max-width $break-lg) {
      height: 50px;
      font-size: 16px;
      padding: 1px 15px 5px;
    }
  }

  &__btn {
    width: 186px;

    @include breakpoint(max-width $break-lg) {
      font-size: 16px;
      line-height: 38px;
    }

    @include breakpoint(max-width $break-md) {
      width: 110px;
    }
  }
}

