.form {
  &__group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

    .btn {
      width: 100%;

      @include breakpoint(max-width $break-md - 1px) {
        font-size: 20px;
        line-height: 58px;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
  }

  &__control {
    width: 100%;
    height: 60px;
    background-color: #fff;
    background-clip: padding-box;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.25;
    color: #000;
    border: 2px solid #e5e5e5;
    transition: color .15s ease-in-out;

    @include placeholder(#d2d2d2);

    &:focus {
      outline: none;
    }

    &.has-error,
    .has-error > & {
      color: #ec1d24;

      @include placeholder(#ec1d24);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus {
      background-color: #fff !important;
      background-clip: content-box !important;
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
      -webkit-text-fill-color: #000;
      border: 2px solid #e5e5e5;
    }
  }
}