.header {
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0 1px 0 #f1f1f1;

  @include breakpoint(max-width $break-lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 16px;
    padding-right: 232px;
    padding-bottom: 17px;
    position: relative;

    @include breakpoint(max-width $break-xl) {
      padding-right: 210px;
    }

    @include breakpoint(max-width $break-lg) {
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 11px;
      justify-content: center;
    }
  }

  &__brand {
    display: inline-block;
    position: relative;
    z-index: 4;

    @include breakpoint(max-width $break-xl) {
      width: 237px;
    }

    @include breakpoint(max-width $break-lg) {
      width: 125px;
    }
  }

  &__brand-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;

    @include breakpoint(max-width 1380px) {
      width: 190px;
    }
  }

  &__brand-slogan {
    width: 188px;
    color: #333;
    font-size: 0;
    font-family: "gm";
    display: inline-block;
    vertical-align: top;
    padding-left: 21px;
    padding-top: 5px;

    @include breakpoint(max-width $break-xl) {
      display: none;
    }

    > span {
      background-color: #f9d548;
      font-size: 13px;
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;

      &+ span {
        margin-top: 2px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
  }

  &__navbar {
    transition: left 0.25s ease-out 0s;

    @media (min-width: $break-lg + 1px) and (max-width: $break-xl) {
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(max-width $break-lg) {
      height: 100%;
      padding-top: 60px;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      z-index: 3;
      opacity: 0;
      transform: translateX(-100%);
      transition: transform 0.4s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    }

    @media (min-width: 321px) and (max-width: 992px) {
      width: calc(238px + (738 - 238) * ((100vw - 321px) / (992 - 321)));
    }
  
    @include breakpoint(max-width 320px) {
      width: 238px;
    }

    body.mobile-nav-start & {
      @include breakpoint(max-width $break-lg) {
        opacity: 1;
      }
    }

    body.mobile-nav-opened & {
      @include breakpoint(max-width $break-lg) {
        transform: translateX(0);
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    left: 0;
    // top: 60px;
    top: -1000%;
    right: 0;
    bottom: 0;
    transition: top 0s ease 0.35s, opacity 0.35s ease;
    z-index: 2;

    body.mobile-nav-opened & {
      @include breakpoint(max-width $break-lg) {
        top: 60px;
        opacity: .7;
        transition: top 0s ease 0s, opacity 0.35s ease;
      }
    }
  }

  &__btn-back {
    position: absolute;
    right: 70px;
    top: 50%;
    width: 160px;
    height: 48px;
    margin-top: -24px;

    @include breakpoint(max-width $break-xl) {
      width: 140px;
      right: 60px;
    }

    @include breakpoint(max-width $break-lg) {
      width: 100%;
      margin-top: 20px;
      top: 100%;
      right: 0;
    }

    .btn {
      width: 100%;
      font-size: 15px;
      line-height: 46px;
      padding-left: 0;
      padding-right: 0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);

      &:before {
        margin-top: 0;

        @include breakpoint(max-width $break-xl) {
          margin-top: -2px;
          margin-right: 12px;
        }
      }
    }
  }
}

.header-search {
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;

  @include breakpoint(max-width $break-lg) {
    background-color: #fff;
    height: 73px;
    padding: 11px 20px 12px;
    margin-top: 0;
    top: 100%;
    left: -20px;
    right: -20px;
    display: none;
    z-index: 4;
  }

  &.is-opened {
    background: #f7f7f7;

    @include breakpoint(max-width $break-lg) {
      border-top: 1px solid #e3e3e3;
      background-color: #fff;
      display: block;
    }

    &:before {
      @include breakpoint(max-width $break-lg) {
        opacity: 1;
      }
    }
  }

  .header.is-focus & {
    left: 460px;

    @include breakpoint(max-width 1380px) {
      left: 400px;
    }

    @include breakpoint(max-width 1280px) {
      left: 218px;
    }

    @include breakpoint(max-width $break-lg) {
      left: -20px;
    }
  }

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    transform: rotate(-45deg);
    opacity: 0;
    position: absolute;
    right: 26px;
    top: -6px;
  }

  &__wrap {
    width: 50px;
    height: 50px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    // transition: all 0.175s;
    margin-left: auto;

    @include breakpoint(max-width $break-lg) {
      width: 100%;
    }

    .header.is-focus & {
      width: 100%;
    }
  }

  &__input-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 0;
    flex-grow: 1;

    @include breakpoint(max-width $break-lg) {
      background-color: #f7f7f7;
    }
  }

  &__input {
    background-color: #f7f7f7;
    width: 100%;
    border: medium none;
    color: #444;
    font-family: "db";
    font-size: 14px;
    line-height: 38px;
    padding: 5px 20px;

    @include breakpoint(max-width $break-xl) {
      padding-right: 0;
    }

    @include placeholder(#bcbcbc);
  }

  &__clear {
    background: url("../img/search-clear.svg") center center no-repeat;
    background-size: 14px 14px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: none;

    @include breakpoint(max-width $break-lg) {
      width: 30px;
    }

    .is-active & {
      display: block;
    }

    .header.is-focus & {
      display: block;
    }
  }

  &__btn {
    background: url("../img/ico-search.svg") center center no-repeat transparent;
    background-size: 23px 23px;
    width: 54px;
    height: 50px;
    border: medium none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;

    @include breakpoint(max-width $break-lg) {
      height: 48px;
    }

    .header.is-focus & {
      display: none;
    }
  }
}

.header-search-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -25px;
  display: none;
  z-index: 4;

  @include breakpoint(max-width $break-lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    background: url("../img/ico-search.svg") center center no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: block;
  }
}

.navbar-toggler {
  width: 32px;
  height: 32px;
  font-size: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  left: -6px;
  margin-top: -16px;
  z-index: 4;

  @include breakpoint(max-width $break-lg) {
    display: block;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 6px;
    pointer-events: none;
  }

  &__inner {
    top: 50%;
    display: block;
    margin-top: 0;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
  }

  &.is-active &__inner {
    width: 20px;
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
  }

  &__inner,
  &__inner:before,
  &__inner:after {
    border-radius: 5px;
    position: absolute;
    width: 20px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #323232;
  }

  &.is-active &__inner:after {
    background-color: #323232;
  }

  &__inner:before,
  &__inner:after {
    display: block;
    content: "";
  }

  &__inner:before {
    top: -6px;
    transition: top 75ms ease .12s, opacity 75ms ease;
  }

  &.is-active &__inner:before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
  }

  &__inner:after {
    bottom: -6px;
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
  }

  &.is-active &__inner:after {
    width: 20px;
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
  }
}
