.inline-gallery {
  position: relative;

  &__media {
    display: block;
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 380px;
    object-fit: cover;
  }

  .slick-slide {
    outline: none;
  }

  .slick-track {
    min-width: 100%;
  }

  .slick-dots {
    padding: 0;
    font-size: 0;
    list-style: none;
    display: flex;
    margin-top: -18px;

    li {
      margin-left: 10px;
      font-size: 0;
      position: relative;
    }

    button {
      border: medium none;
      width: 10px;
      height: 10px;
      background: #d8d8d8;
      border-radius: 50%;
      display: block;
      padding: 0;
      cursor: pointer;
      transition: background 176ms linear;

      &:hover {
        background: #8f8f8f;
      }
    }

    .slick-active {
      button {
        background: #8f8f8f;
      }
    }
  }

  &__list {
    padding-bottom: 34px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .slick-arrow {
    border: medium none;
    font-size: 0;
    width: 34px;
    height: 68px;
    background: url("../img/slider-arrow.svg") no-repeat center center;
    cursor: pointer;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -51px;

    &.slick-disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    transform: rotate(180deg);
    order: 1;
  }
}
