.inst-media {
  background-color: #f7f7f7;
  padding-bottom: 90px;

  @include breakpoint(max-width $break-md) {
    padding-top: 51px;
    padding-bottom: 50px;
  }

  &__wrap {
    background-color: #fff;
    padding-top: 79px;
    padding-bottom: 80px;

    @include breakpoint(max-width $break-md) {
      padding-top: 35px;
      padding-bottom: 26px;
    }
  }

  &__header {
    padding-bottom: 62px;

    @include breakpoint(max-width $break-md) {
      padding-bottom: 36px;
    }
  }

  &__title {
    font-family: "db";
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint(max-width $break-md) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  &__media {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-right: 40px;

    @include breakpoint(max-width $break-lg) {
      margin-right: 0;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  .slick-slide {
    outline: none;
  }
  .slick-track {
    min-width: 100%;
  }

  //.slick-list {
  //  margin-left: -10px;
  //  margin-right: -10px;
  //  padding-left: 10px;
  //  padding-right: 10px;
  //  padding-bottom: 20px;
  // }

  &__list {
    padding-bottom: 0;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -34px;
  }

  .slick-arrow {
    border: medium none;
    font-size: 0;
    width: 34px;
    height: 68px;
    background: url("../img/slider-arrow.svg") no-repeat center center;
    cursor: pointer;
    background-size: contain;
    position: absolute;
    top: 0;

    &.slick-disabled {
      opacity: 0.6;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    transform: rotate(180deg);
    order: 1;
  }

  .slick-dots {
    display: inline-flex;
    padding: 0 20px;
  }

  // * {
  //   outline: none;
  // }
}
