.login {
  background: url("../img/login-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;

  @include breakpoint(max-width $break-md - 1px) {
    min-height: 606px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__header {
    width: 100%;
    max-width: 464px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    @include breakpoint(max-width $break-md - 1px) {
      padding-bottom: 34px;
    }
  }

  &__brand {
    width: 238px;

    @include breakpoint(max-width $break-md - 1px) {
      width: 186px;
    }
  }

  &__brand-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  &__content {
    background-color: #fff;
    width: 100%;
    max-width: 620px;
    padding: 38px 30px;

    @include breakpoint(max-width $break-md - 1px) {
      padding: 43px 20px 40px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    font-family: "db";
    text-align: center;
    color: #333;
    margin-bottom: 50px;

    @include breakpoint(max-width $break-md - 1px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}