.modal-feedback {
  max-width: 620px;
  background-color: #fff;
  padding: 37px 30px 40px;

  @include breakpoint(max-width $break-md - 1px) {
    padding: 43px 20px 30px;
  }

  &__header {
    padding-bottom: 29px;

    @include breakpoint(max-width $break-md - 1px) {
      padding-bottom: 10px;
    }
  }

  &__content {

  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    font-family: "db";
    text-align: center;
    color: #333;
    margin-bottom: 20px;

    @include breakpoint(max-width $break-md - 1px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  &__form-group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .btn {
      width: 100%;

      @include breakpoint(max-width $break-md - 1px) {
        font-size: 20px;
        line-height: 58px;
      }
    }
  }

  &__form-control {
    width: 100%;
    height: 60px;
    background-color: #fff;
    background-clip: padding-box;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.25;
    color: #000;
    border: 2px solid #e5e5e5;
    transition: color .15s ease-in-out;

    @include placeholder(#d2d2d2);

    &:focus {
      outline: none;
    }

    &.has-error,
    .has-error > & {
      color: #ec1d24;

      @include placeholder(#ec1d24);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus {
      background-color: #fff !important;
      background-clip: content-box !important;
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
      -webkit-text-fill-color: #000;
      border: 2px solid #e5e5e5;
    }
  }
}

textarea.modal-feedback__form-control {
  height: auto;
  min-height: 175px;
  -webkit-appearance: none;
  resize: vertical;
  padding-top: 20px;
  padding-bottom: 20px;
}
