.music-block {
  $self: &;
  margin-bottom: 20px;

  .article-section__col-center & {
    @media (min-width: 992px) and (max-width: 1279px) {
      margin-left: calc(-330px + (-358 + 330) * ((100vw - 992px) / (1279 - 992)));
    }

    @include breakpoint(min-width $break-xl + 1px) {
      margin-left: -330px;
      margin-right: 0;
    }

    @include breakpoint(max-width $break-md) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__wrap {
    background: #fff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
    min-height: 83px;

    @include breakpoint(max-width $break-md) {
      min-height: 74px;
    }
  }

  &__player {
    display: flex;
    padding-top: 1px;
    padding: 20px 40px;

    @include breakpoint(max-width $break-md) {
      flex-basis: 100%;
      max-width: none;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__player-control {
    background-image: url("../img/music-block/play.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) 50%;
    background-size: 19px 21px;
    background-color: #f9d548;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.175s;
    cursor: pointer;
    position: relative;

    &.is-active {
      background-image: url("../img/music-block/pause.svg");
      background-size: 16px 19px;
      background-position: center center;
    }

    &:hover {
      background-color: darken(#f9d548, 10%);
    }
  }

  &__player-element {
    width: calc(100% - 50px);
    height: 50px;
    padding-left: 30px;

    @include breakpoint(max-width $break-md) {
      padding-left: 20px;
    }
  }

  &__player-target {
    width: 100%;
    height: 20px;
    display: none;
    position: relative;
    top: 50%;
    margin-top: -10px;

    @include breakpoint(max-width $break-md) {
      width: 100%;
    }
  }

  &__album {
    padding: 20px 20px 37px 20px;
    border-bottom: 1px  solid rgba(#929292, 0.21);

    @include breakpoint(min-width $break-md + 1px) {
      display: flex;
      padding: 40px;
    }
  }

  &__album-cover {
    width: 100%;
    height: 100%;
    max-width: 280px;
    max-height: 280px;
    position: relative;

    @include breakpoint(min-width $break-md + 1px) {
      width: 230px;
      height: 230px;
    }
  }

  &__album-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__album-caption {
    margin-top: 31px;

    @include breakpoint(min-width $break-md + 1px) {
      width: calc(100% - 230px);
      padding-left: 40px;
      margin-top: -4px;
    }
  }

  &__album-caption-title {
    font-size: 20px;
    line-height: 1.3;
    font-family: "db";
    margin-bottom: 18px;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 28px;
      line-height: 1.29;
      margin-bottom: 14px;
    }
  }

  &__album-caption-type {
    font-size: 14px;
    line-height: 2.5;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 13px;

    @include breakpoint(min-width $break-md + 1px) {
      margin-bottom: 18px;
    }
  }

  &__album-caption-leadtext {
    font-size: 14px;
    line-height: 1.6;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 17px;
      line-height: 1.65;
    }
  }

  .video-js {
    background: none;

    &.vjs-fill {
      height: 20px;
    }
  }

  .video-js.vjs-has-started .vjs-control-bar {
    background: none;
    height: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .video-js .vjs-progress-control .vjs-progress-holder {
    height: 5px;
    margin: 0;
    border-radius: 10px;
  }

  .video-js .vjs-slider {
    background-color: #e6e6e6;
  }

  .video-js .vjs-load-progress div {
    background-color: #b0b0b0;
  }

  .vjs-icon-circle:before,
  .vjs-seek-to-live-control .vjs-icon-placeholder:before,
  .video-js .vjs-volume-level:before,
  .video-js .vjs-play-progress:before {
    color: #f9d548;
  }

  .video-js .vjs-play-progress {
    background-color: #f9d548;
  }

  .video-js .vjs-time-tooltip {
    background-color: rgba(#f9d548, 0.75);
    color: #333;
  }

  .video-js .vjs-play-progress:before {
    background: radial-gradient(circle, rgba(249,213,72,1) 40%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
    top: -17px;
    right: -17px;
    font-size: 0;

    @include breakpoint(max-width $break-md) {
      width: 28px;
      height: 28px;
      top: -12px;
      right: -12px;
    }
  }

  .video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1em;
  }

  .video-js .vjs-progress-control:hover .vjs-time-tooltip {
    font-size: 1em;
  }

  .video-js .vjs-current-time,
  .video-js .vjs-duration {
    display: none;
  }

  .video-js .vjs-picture-in-picture-control {
    display: none;
  }
}
