.navbar {
  transition: all 0.175s;

  @include breakpoint(max-width $break-lg) {
    background-color: #fff;
    height: 100%;
    // display: none;
    position: relative;
    z-index: 10;
  }

  @include breakpoint(min-width $break-lg + 1px) {
    .header.is-focus & {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__nav {
    width: 586px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 13px 0 0;
    font-size: 0;

    @include breakpoint(max-width 1380px) {
      width: 520px;
      padding-top: 10px;
    }

    @include breakpoint(max-width $break-xl) {
      width: 480px;
      padding-top: 6px;
    }

    @include breakpoint(max-width $break-lg) {
      width: auto;
      display: block;
      padding-top: 10px;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    padding: 13px 11px 10px;

    @include breakpoint(max-width 1380px) {
      padding-left: 8px;
      padding-right: 8px;
    }

    @include breakpoint(max-width $break-lg) {
      display: block;
      padding: 0;
    }
  }

  &__item_dropdown {
    padding-right: 26px;

    @include breakpoint(max-width $break-lg) {
      padding-right: 0;
    }
  }

  &__link {
    color: #333;
    font-family: "dm";
    font-size: 22px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    transition: background-color 0.25s ease-out 0s;

    @include breakpoint(max-width 1380px) {
      display: block;
      font-size: 18px;
    }

    @include breakpoint(max-width $break-lg) {
      font-size: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &:after {
      background: url("../img/select-arrow.svg") center center no-repeat;
      background-size: 16px 8px;
      width: 16px;
      height: 16px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      right: 9px;
      margin-top: -7px;

      @include breakpoint(max-width 1380px) {
        margin-left: -13px;
      }

      @include breakpoint(max-width $break-lg) {
        right: 21px;
        transform: scaleY(-1);
      }
    }

    &.is-active {
      background-color: #f9d548;
    }
  }

  &__item:not(.navbar__item_dropdown) &__link:hover:not(.is-active) {
    background-color: #eee;
  }

  &__item_dropdown &__link {
    padding-right: 34px;

    &:after {
      content: "";
    }
  }

  &__item_dropdown:hover &__link {
    &:after {
      transform: scaleY(-1);
    }
  }

  &__item_dropdown:hover &__dropdown {
    opacity: 1;
    visibility: visible;

    @include breakpoint(max-width $break-lg) {
      height: auto;
    }
  }

  &__dropdown {
    width: 180px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 0;
    margin-left: -18px;
    visibility: hidden;
    backface-visibility: hidden;
    transition: height 0.25s ease-out 0s, opacity 0.25s ease-out 0s;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;

    @include breakpoint(min-width $break-lg + 1) {
      overflow-x: hidden;
    }
    
    @include breakpoint(max-width $break-lg) {
      background-color: #f5f5f5;
      width: 100%;
      margin-left: 0;
      opacity: 1;
      visibility: visible;
      position: relative;
      box-shadow: none;
      top: 0;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-color: transparent #fff #fff transparent;
      border-style: solid;
      border-width: 5px;
      display: block;
      transform: rotate(225deg);
      position: absolute;
      top: -5px;
      right: 32px;

      @include breakpoint(max-width $break-lg) {
        content: none;
      }
    }
  }

  &__dropdown-menu {
    max-height: 530px;
    overflow-y: auto;

    @include breakpoint(min-width $break-lg + 1) {
      margin-right: -18px;
    }

    @include breakpoint(max-width $break-lg) {
      max-height: calc(100vh - 246px);
    }
  }

  &__dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__dropdown-list-item {
    &:first-child {
      padding-top: 21px;
    }

    &:last-child {
      padding-bottom: 15px;
    }
  }

  &__dropdown-link {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    display: block;
    padding: 12px 20px 13px;
    text-transform: uppercase;
    background-color: transparent;
    backface-visibility: hidden;
    transition: background-color 0.25s ease-out 0s;

    &:hover {
      font-family: "db";

      @include breakpoint(max-width $break-lg) {
        background-color: #eee;
      }
    }

    &.is-active {
      font-family: "db";
      color: #ec1d24;
    }
  }
}
