.note {
  position: relative;

  &__wrap {
    width: 290px;
    background-color: #fff9d7;
    display: none;
    
    @include breakpoint(min-width $break-lg + 1px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -460px;
      z-index: 1;
      display: block;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      margin-left: -600px;
    }
  }

  &__header {
    background-color: #f9d548;
    padding: 11px 30px 13px;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    line-height: 1.56;
    font-family: "db";
  }

  &__content {
    padding: 31px 30px 57px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.39;
    font-family: "dm";
    margin-bottom: 0;
  }

  &__review {
    padding: 14px 0 0 0;
    display: block;
    margin: 0;
    list-style: none;
    font-size: 0;

    @include breakpoint(min-width $break-md + 1px) {
      padding-top: 16px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      padding-top: 18px;
    }
  }

  &__review-item {
    display: inline-block;
    position: relative;
    min-width: 80px;
  }

  &__review-item_icon-eye {
    padding-left: 16px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-left: 24px;
    }

    &:before {
      width: 16px;
      height: 10px;
      background: url("../img/ico-eye_dark.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -5px;

      @include breakpoint(min-width $break-md + 1px) {
        width: 20px;
        height: 14px;
        margin-top: -7px;
      }
    }
  }

  &__review-item_icon-heart {
    min-width: 50px;
    padding-left: 12px;

    @include breakpoint(min-width $break-md + 1px) {
      padding-left: 18px;
    }
    
    &:before {
      width: 11px;
      height: 10px;
      margin-top: -5px;
      background: url("../img/ico-heart_dark.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;

      @include breakpoint(min-width $break-md + 1px) {
        width: 18px;
        height: 15px;
        margin-top: -7px;
      }
    }
  }

  &__review-quantity {
    font-size: 12px;
    display: inline-block;
    padding: 0 5px 0 3px;
    color: #575757;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 18px;
    }
  }
}