.not-found {
  width: 100%;
  height: calc(100vh - 384px);
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @include breakpoint(min-width $break-md + 1px) {
    height: calc(100vh - 318px);
    min-height: 380px;
  }

  @include breakpoint(min-width $break-lg + 1px) {
    height: calc(100vh - 252px);
    min-height: 380px;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    height: calc(100vh - 267px);
    min-height: 460px;
  }

  .app__main > & {
    @include breakpoint(max-width $break-lg) {
      padding-top: 88px;
    }

    @include breakpoint(max-width $break-md) {
      padding-top: 85px;
    }
  }

  &__media {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(max-width $break-xl) {
      max-width: 600px;
    }

    @include breakpoint(max-width $break-lg) {
      max-width: 400px;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  &__content {
    text-align: center;
    padding-top: 50px;

    @include breakpoint(max-width $break-xl) {
      padding-top: 30px;
    }

    .btn {
      width: 240px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.29;
    font-family: "db";
    margin-bottom: 70px;

    @include breakpoint(max-width $break-xl) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}