.p-counter {
  background-color: #f7f7f7;
  padding-bottom: 40px;

  @include breakpoint(max-width $break-md) {
    padding-bottom: 20px;
  }

  &__wrap {
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;

    @include breakpoint(max-width $break-lg) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .slick-slide {
    outline: none;
  }

  .slick-track {
    min-width: 100%;
  }

  .slick-dots {
    padding: 0;
    font-size: 0;
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%);

    li {
      margin-left: 10px;
      font-size: 0;
      position: relative;
    }

    button {
      border: medium none;
      width: 10px;
      height: 10px;
      background: #d8d8d8;
      border-radius: 50%;
      display: block;
      padding: 0;
      cursor: pointer;
      transition: background 176ms linear;

      &:hover {
        background: #8f8f8f;
      }
    }

    .slick-active {
      button {
        background: #8f8f8f;
      }
    }
  }

  .slick-arrow {
    border: medium none;
    font-size: 0;
    width: 34px;
    height: 68px;
    background: url("../img/slider-arrow.svg") no-repeat center center;
    cursor: pointer;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -34px;

    &.slick-disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    transform: rotate(180deg);
    order: 1;
  }

  &__container {
    width: 100%;
    max-width: 1280px;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(max-width $break-md) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-left {
    flex-basis: 473px;
    max-width: 473px;

    @media (min-width: 993px) and (max-width: 1279px) {
      flex-basis: calc(312px + (473 - 312) * ((100vw - 961px) / (1279 - 961)));
      max-width: calc(312px + (473 - 312) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      flex-basis: 100%;
      max-width: none;
    }
  }

  &__col-right {
    flex-basis: calc(100% - 473px);
    max-width: calc(100% - 473px);

    @media (min-width: 993px) and (max-width: 1279px) {
      flex-basis: calc(100% - (312px + (473 - 312) * ((100vw - 961px) / (1279 - 961))));
      max-width: calc(100% - (312px + (473 - 312) * ((100vw - 961px) / (1279 - 961))));
    }

    @include breakpoint(max-width $break-lg) {
      flex-basis: 100%;
      max-width: none;
      padding-top: 70px;
    }
  }

  &__label {
    background-color: #f9d548;
    font-family: "gb";
    font-size: 23px;
    line-height: 25px;
    color: #fff;
    letter-spacing: -0.02em;
    display: inline-block;
    padding: 4px 10px;

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
    }
  }

  &__content {
    padding-top: 34px;
    
    @include breakpoint(max-width $break-lg) {
      padding-top: 32px;
    }
  }

  &__value {
    font-family: "gb";
    color: #000;
    font-size: 40px;
    line-height: 42px;

    span {
      font-size: 130px;
      line-height: 132px;
      letter-spacing: 0.01em;
      color: #333;

      @media (min-width: 993px) and (max-width: 1279px) {
        font-size: calc(90px + (130 - 90) * ((100vw - 961px) / (1279 - 961)));
        line-height: calc(92px + (132 - 92) * ((100vw - 961px) / (1279 - 961)));
      }

      @include breakpoint(max-width $break-lg) {
        font-size: 90px;
        line-height: 92px;
      }

      @include breakpoint(max-width $break-md) {
        font-size: 70px;
        line-height: 72px;
      }
    }
  }

  &__list {
    width: 100%;
    max-width: 766px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
  }

  &__item {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    min-height: 1px;
    padding-right: 30px;

    @include breakpoint(max-width $break-md) {
      flex-grow: 0;
      flex-basis: 100%;
      max-width: none;
      padding-top: 62px;
    }

    &:first-child {
      @include breakpoint(max-width $break-md) {
        padding-top: 6px;
      }
    }
  }

  &__item-title {

  }

  &__item-title-icon {
    width: 57px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    @media (min-width: 993px) and (max-width: 1279px) {
      width: calc(45px + (57 - 45) * ((100vw - 961px) / (1279 - 961)));
      height: calc(34px + (40 - 34) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      width: 47px;
      height: 36px;
    }

    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 1px;
    }
  }

  &__item-title-icon_1:before {
    background-image: url("../img/ico-counter_1.svg");
    width: 36px;
    height: 36px;
    top: 5px;

    @media (min-width: 993px) and (max-width: 1279px) {
      width: calc(30px + (36 - 30) * ((100vw - 961px) / (1279 - 961)));
      height: calc(30px + (36 - 30) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      width: 30px;
      height: 30px;
      top: 8px;
    }
  }

  &__item-title-icon_2:before {
    background-image: url("../img/ico-counter_2.svg");
    width: 36px;
    height: 35px;
    top: 6px;

    @media (min-width: 993px) and (max-width: 1279px) {
      width: calc(30px + (36 - 30) * ((100vw - 961px) / (1279 - 961)));
      height: calc(29px + (35 - 29) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      width: 30px;
      height: 29px;
      top: 9px;
    }
  }

  &__item-title-icon_3:before {
    background-image: url("../img/ico-counter_3.svg");
    width: 36px;
    height: 37px;
    top: 4px;

    @media (min-width: 993px) and (max-width: 1279px) {
      width: calc(30px + (36 - 30) * ((100vw - 961px) / (1279 - 961)));
      height: calc(31px + (37 - 31) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      width: 30px;
      height: 31px;
      top: 7px;
    }
  }

  &__item-title-name {
    font-family: "gb";
    font-size: 40px;
    line-height: 42px;
    display: inline-block;
    padding-top: 2px;

    @media (min-width: 993px) and (max-width: 1279px) {
      font-size: calc(28px + (40 - 28) * ((100vw - 961px) / (1279 - 961)));
      line-height: calc(30px + (42 - 30) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      font-size: 28px;
      line-height: 30px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 40px;
      line-height: 42px;
    }
  }

  &__item-leadtext {
    font-size: 22px;
    line-height: 29px;
    font-family: "dm";
    margin-top: 21px;

    @media (min-width: 993px) and (max-width: 1279px) {
      font-size: calc(16px + (22 - 16) * ((100vw - 961px) / (1279 - 961)));
      line-height: calc(25px + (29 - 25) * ((100vw - 961px) / (1279 - 961)));
    }

    @include breakpoint(max-width $break-lg) {
      font-size: 16px;
      line-height: 25px;
      margin-top: 11px;
    }
  }
}
