.page {
  background-color: #f7f7f7;

  .app__main > & {
    @include breakpoint(max-width $break-lg) {
      padding-top: 68px;
    }
  }

  &__header {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 60px 0;

    @include breakpoint(max-width $break-lg) {
      padding: 40px 20px 0;
    }
  }

  &__content {

  }

  &__title {
    font-size: 50px;
    line-height: 1.27;
    font-family: "db";
    margin-bottom: 0;

    @include breakpoint(max-width $break-md) {
      font-size: 22px;
      line-height: 1.36;
    }
  }
}