.people {
  @include breakpoint(min-width $break-lg + 1px) {
    padding-top: 33px;
  }

  @include breakpoint(min-width $break-lg + 1px) {
    flex: 0 0 590px;
    max-width: 590px;
    margin-left: 330px;
  }

  @include breakpoint(min-width $break-xl + 1px) {
    flex: 0 0 880px;
    max-width: 880px;
    margin-left: 440px;
  }

  &__item {
    margin-bottom: 48px;

    @include breakpoint(min-width $break-xl + 1px) {
      margin-bottom: 100px;
    }
  }

  &__item-leadtext {
    font-size: 20px;
    line-height: 1.65;
    padding-top: 8px;
    padding-bottom: 48px;
    display: none;

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
    }

    p {
      margin-bottom: 0;

      &+ p {
        margin-top: 23px;

        @include breakpoint(min-width $break-lg + 1px) {
          margin-top: 33px;
        }
      }
    }
  }

  &__item_detail {
    margin-bottom: 48px;

    @include breakpoint(min-width $break-lg + 1px) {
      margin-bottom: 78px;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      margin-bottom: 134px;
    }
  }

  &__item_detail &__item-leadtext {
    display: block;
  }

  &__item_detail &__item-media {

    @include breakpoint(min-width $break-md + 1px) {
      max-width: 344px;
    }

    @include breakpoint(min-width $break-lg + 1px) {
      max-width: none;
      width: 320px;
      position: absolute;
      left: -340px;
      top: 0;
    }

    @include breakpoint(min-width $break-xl + 1px) {
      width: 400px;
      left: -420px;
    }
  }

  &__item-media-bg {
    background-color: #f9d548;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -220px;
    top: -37px;
    display: none;
  }

  &__item_detail &__item-media-bg {
    @include breakpoint(min-width $break-lg + 1px) {
      display: block;
    }
  }

  &__item-media-wrap {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  &__item-img {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  &__item-content {
    padding-top: 30px;
  }

  &__item-title {
    font-size: 22px;
    line-height: 1.64;
    font-family: "db";
    margin-bottom: 17px;

    @include breakpoint(max-width $break-md) {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 7px;
    }

    span {
      display: inline-block;
      background-color: #f9d548;
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__item-info {
    color: #575757;
    margin-bottom: 0;
  }
}