.progress {
  &__title {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 9px;

    b {
      font-size: 20px;
      font-family: "db";
      padding-right: 7px;
    }
  }

  &__wrap {
    width: 100%;
    height: 10px;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
  }

  &__line {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  &__bar {
    border-radius: 9px;
    background-color: #f9d548;
    width: 0;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}