.quiz {
  height: 100%;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
  position: relative;

  &__header {
    height: 383px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    padding: 61px 52px 20px;
    display: block;
    text-decoration: none;

    @include breakpoint(max-width $break-lg) {
      height: 270px;
      padding: 25px 20px 20px;
    }

    @include breakpoint(max-width $break-md) {
      height: 198px;
    }
  }

  &__title {
    max-width: 350px;
    color: #333;
    font-size: 40px;
    line-height: 55px;
    font-family: "db";

    @include breakpoint(max-width $break-lg) {
      max-width: 290px;
      font-size: 28px;
      line-height: 42px;
    }

    @include breakpoint(max-width $break-md) {
      max-width: 65%;
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__content {
    padding: 45px 52px 50px;

    @include breakpoint(max-width $break-lg) {
      padding: 25px 20px;
    }

    @include breakpoint(min-width 993px) {
      height: calc(100% - 383px);
    }

    @include breakpoint(min-width 769px) {
      height: calc(100% - 270px);
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-list {
    padding-bottom: 20px;

    .radio {
      margin-top: 21px;
      margin-bottom: 21px;

      @include breakpoint(max-width $break-md) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .progress {
      margin-bottom: 19px;

      @include breakpoint(max-width $break-md) {
        margin-bottom: 15px;
      }
    }
  }

  &__form-submit {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    .btn_def {
      width: 330px;

      @include breakpoint(max-width $break-lg) {
        width: 260px;
      }
    }
  }

  &__leadtext {
    color: rgba(#333, 0.4);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
  }
}

.quiz_column {
  @include breakpoint(min-width $break-lg + 1px) {
    display: flex;
    flex-wrap: nowrap;
  }

  .quiz {
    &__header {
      @include breakpoint(min-width $break-lg + 1px) {
        width: 443px;
        height: 100%;
      }
    }

    &__content {
      @include breakpoint(min-width $break-lg + 1px) {
        width: calc(100% - 443px);
        height: 100%;
      }

      @include breakpoint(min-width $break-xl + 1px) {
        padding-left: 70px;
        padding-top: 33px;
      }
    }

    &__form-list {
      // padding-bottom: 20px;
  
      .radio {
        margin-top: 20px;
        margin-bottom: 20px;
  
        @include breakpoint(max-width $break-md) {
          margin-top: 15px;
          margin-bottom: 15px;
        }

        &:first-child {
          margin-top: 27px;

          @include breakpoint(max-width $break-md) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.quiz_content {
  height: auto;

  @include breakpoint(max-width $break-sm) {
    margin-left: -20px;
    margin-right: -20px;
  }

  .quiz {
    &__header {
      height: auto;
      padding: 45px 42px 10px;

      @include breakpoint(max-width $break-md) {
        padding: 25px 20px 10px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 28px;
    }

    &__content {
      padding: 6px 42px 40px;

      @include breakpoint(max-width $break-md) {
        padding: 6px 20px 25px;
      }
    }

    &__form-list {
      padding-bottom: 28px;
    }

    &__form-submit {
      @include breakpoint(max-width $break-sm) {
        display: block;
      }

      .btn {
        @include breakpoint(max-width $break-sm) {
          width: 100%;
          max-width: 330px;
        }
      }

      .user-show {
        @include breakpoint(max-width $break-sm) {
          margin-top: 40px;
        }
      }
    }
  }
}
