.short-news {
  height: 100%;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.09);
  position: relative;

  &__header {
    background-color: #333;
    padding: 43px 50px;

    @include breakpoint(max-width $break-lg) {
      padding: 21px 20px;
    }

    @include breakpoint(min-width 769px) {
      height: 150px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 35px;
    font-family: "db";
    color: #fff;

    @include breakpoint(max-width $break-lg) {
      font-size: 28px;
      line-height: 32px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__nested {
    background-color: #f9d548;
    font-family: "dm";
    font-size: 20px;
    line-height: 24px;
    padding: 14px 50px;

    @include breakpoint(max-width $break-lg) {
      padding: 14px 20px;
      font-size: 18px;
      line-height: 20px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 14px;
      line-height: 18px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  &__content {
    padding: 45px 50px 55px;

    @include breakpoint(max-width $break-lg) {
      padding: 35px 20px 36px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: block;
    padding-top: 2px;
    margin-bottom: 38px;

    @include breakpoint(max-width $break-lg) {
      margin-bottom: 18px;
    }

    @include breakpoint(max-width $break-md) {
      margin-bottom: 31px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__elem {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #333;
  }

  &__elem-header {
    flex-basis: 123px;
    max-width: 123px;

    @include breakpoint(max-width $break-lg) {
      flex-basis: 90px;
      max-width: 90px;
    }

    @include breakpoint(max-width $break-md) {
      flex-basis: 55px;
      max-width: 55px;
    }
  }

  &__elem-count {
    color: #d2d2d2;
    font-family: "db";
    font-size: 52px;
    line-height: 54px;
    display: block;
    margin-bottom: 7px;

    @include breakpoint(max-width $break-lg) {
      font-size: 40px;
      line-height: 42px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 22px;
      line-height: 24px;
      padding-top: 4px;
      margin-bottom: 3px;
    }
  }

  &__elem-count-label {
    font-size: 17px;
    line-height: 19px;
    opacity: 0.4;
    display: block;

    @include breakpoint(max-width $break-lg) {
      font-size: 14px;
      line-height: 16px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 8px;
      line-height: 14px;
    }
  }

  &__elem-content {
    flex-basis: calc(100% - 123px);
    max-width: calc(100% - 123px);

    @include breakpoint(max-width $break-lg) {
      flex-basis: calc(100% - 90px);
      max-width: calc(100% - 90px);
    }

    @include breakpoint(max-width $break-md) {
      flex-basis: calc(100% - 55px);
      max-width: calc(100% - 55px);
    }
  }

  &__elem-title {
    font-family: "db";
    font-size: 21px;
    line-height: 28px;
    display: block;
    padding-top: 7px;
    margin-bottom: 17px;

    @include breakpoint(max-width $break-lg) {
      font-size: 18px;
      line-height: 24px;
    }

    @include breakpoint(max-width $break-md) {
      font-size: 16px;
      padding-top: 0;
      margin-bottom: 24px;
    }
  }

  &__elem-leadtext {
    font-size: 18px;
    line-height: 28px;
    display: block;

    @include breakpoint(max-width $break-lg) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__elem-review {
    padding-top: 33px;
    display: block;

    @include breakpoint(max-width $break-lg) {
      padding-top: 23px;
    }
  }

  &__elem-review-item {
    display: inline-block;
    position: relative;
    opacity: 0.4;
  }

  &__elem-review-item_icon-heart {
    min-width: 72px;
    padding-left: 18px;

    @include breakpoint(max-width $break-md) {
      min-width: 50px;
      padding-left: 13px;
    }
    
    &:before {
      width: 18px;
      height: 15px;
      background: url("../img/ico-heart.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7px;

      @include breakpoint(max-width $break-md) {
        width: 11px;
        height: 10px;
        margin-top: -4px;
      }
    }
  }

  &__elem-review-item_icon-time {
    min-width: 72px;
    padding-left: 18px;

    @include breakpoint(max-width $break-md) {
      min-width: 50px;
      padding-left: 13px;
    }

    &:before {
      width: 15px;
      height: 15px;
      background: url("../img/ico-clock.svg") no-repeat 0 0;
      background-size: contain;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7px;

      @include breakpoint(max-width $break-md) {
        width: 10px;
        height: 10px;
        margin-top: -4px;
      }
    }
  }

  &__elem-review-quantity {
    font-size: 18px;
    display: inline-block;
    padding: 0 5px 0 3px;

    @include breakpoint(max-width $break-md) {
      font-size: 12px;
    }
  }
}
