.top-anchor {
  width: 80px;
  height: 80px;
  background: url("../img/ico-top-arrow.svg") no-repeat center;
  background-size: cover;
  display: block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out;

  @include breakpoint(max-width $break-md - 1px) {
    width: 60px;
    height: 60px;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}