.user-info {
  padding-right: 21px;

  &__wrap {
    display: flex;
  }

  &__media {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: block;
    overflow: hidden;

    @include breakpoint(min-width $break-md + 1px) {
      width: 70px;
      height: 70px;
    }
  }

  &__img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &__content {
    flex-basis: calc(100% - 58px);
    max-width: calc(100% - 58px);
    padding-left: 20px;
    margin-top: -5px;
    text-align: left;

    @include breakpoint(min-width $break-md + 1px) {
      flex-basis: calc(100% - 70px);
      max-width: calc(100% - 70px);
      margin-top: -6px;
    }
  }

  &__name {
    font-family: "dm";
    font-size: 12px;
    line-height: 1.75;
    color: #333;
    display: inline-block;
    margin-bottom: -1px;
    transition: color 0.15s ease-in-out;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 16px;
      margin-bottom: 6px;
    }

    &:hover {
      color: #f9d548;
    }
  }

  &__leadtext {
    font-size: 10px;
    line-height: 1.2;
    color: #575757;
    margin-bottom: 0;

    @include breakpoint(min-width $break-md + 1px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.user-info_no-image {
  .user-info {
    &__media {
      display: none;
    }

    &__content {
      flex-basis: 100%;
      max-width: none;
      padding-left: 0;
    }
  }
}

.user-info_list {
  padding-right: 70px;

  @include breakpoint(max-width $break-lg) {
    padding-right: 12%;
  }

  .user-info {
    &__wrap {
      border-bottom: 1px solid #d8d7d7;
      padding-bottom: 30px;
      margin-bottom: 24px;
      align-items: center;

      @include breakpoint(max-width $break-md) {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }

    &__content {
      margin-top: 3px;
    }
  }
}
