.user-show {
  &__control {
    background: url("../img/ico-user.svg") no-repeat 50% 50% #e0e0e0;
    background-size: 17px 18px;
    width: 58px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    position: relative;

    @include breakpoint(max-width $break-md) {
      width: 50px;
      height: 40px;
    }
  
    &:hover,
    &:focus {
      background-color: darken(#e0e0e0, 5);
    }
  }

  &__control:hover &__dropdown {
    opacity: 1;
    visibility: visible;
  }

  &__dropdown {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: height 0.25s ease-out 0s, opacity 0.25s ease-out 0s;
    overflow-x: hidden;
    margin-top: -16px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;

    @include breakpoint(min-width $break-sm + 1px) {
      left: auto;
      right: 0;
    }

    &.scroller {
      overflow: hidden;

      .scroller-content {
        max-height: 344px;
        padding: 0;

        // @include breakpoint(max-width $break-lg) {
        //   max-height: 246px;
        // }
      }
    }

    .scroller-bar {
      background-color: #fff;
      border-color: #fff;
    }

    .scroller-track {
      background-color: #fff;
    }

    .scroller-handle {
      border-color: #fff;
    }
  }

  // &__dropdown-menu {
  //   max-height: 344px;
  //   overflow-y: auto;

  //   @include breakpoint(max-width $break-lg) {
  //     max-height: 246px;
  //   }
  // }

  &__dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__dropdown-list-item {
  }

  &__dropdown-list-item:first-child &__item:before {
    content: none;
  }

  &__item {
    color: #333;
    display: flex;
    padding: 21px 18px 20px 20px;
    text-decoration: none;
    align-items: center;
    text-align: left;
    position: relative;

    &:before {
      content: "";
      width: calc(100% - 38px);
      height: 0;
      border-top: 1px solid #d8d7d7;
      position: absolute;
      left: 20px;
      top: 0;
    }
  }

  &__item-media {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__item-name {
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    flex-grow: 1;
  }
}
