.inst-media
	.inst-media__wrap
		.inst-media__header
			h4.inst-media__title Наша жизнь в&nbsp;Instagram
		.inst-media__wrapper(data-inst-slider)
			.inst-media__list(data-inst-slider-list)
				-
					var listMedia = [
						{
							"url": "#1",
							"img": "./img/inst/img-inst_1.jpg"
						},
						{
							"url": "#2",
							"img": "./img/inst/img-inst_2.jpg"
						},
						{
							"url": "#3",
							"img": "./img/inst/img-inst_3.jpg"
						},
						{
							"url": "#4",
							"img": "./img/inst/img-inst_4.jpg"
						},
						{
							"url": "#1",
							"img": "./img/inst/img-inst_1.jpg"
						},
						{
							"url": "#2",
							"img": "./img/inst/img-inst_2.jpg"
						},
						{
							"url": "#3",
							"img": "./img/inst/img-inst_3.jpg"
						},
						{
							"url": "#4",
							"img": "./img/inst/img-inst_4.jpg"
						},
						{
							"url": "#1",
							"img": "./img/inst/img-inst_1.jpg"
						},
						{
							"url": "#2",
							"img": "./img/inst/img-inst_2.jpg"
						},
						{
							"url": "#3",
							"img": "./img/inst/img-inst_3.jpg"
						},
						{
							"url": "#4",
							"img": "./img/inst/img-inst_4.jpg"
						}
					]
				each item in listMedia
					.inst-media__list-item
						.inst-media__item
							a.inst-media__media(href=item.url)
								img.inst-media__img(src=item.img alt="")
			.inst-media__controls(data-inst-slider-controls)
