.p-counter
	.p-counter__wrap(data-counter-gallery)
		.p-counter__container(data-counter-gallery-list)
			.p-counter__row-wrap
				.p-counter__row
					.p-counter__col-left
						.p-counter__label Общий NPS
						.p-counter__content
							.p-counter__value <span>81,81</span>%
					.p-counter__col-right
						.p-counter__label СЗФО, Санкт-Петербург:
						.p-counter__content
							.p-counter__list
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_1
										span.p-counter__item-title-name 101,7%
									.p-counter__item-leadtext Выполнение плана в&nbsp;июне
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_2
										span.p-counter__item-title-name 14,1%
									.p-counter__item-leadtext Прирост за&nbsp;12&nbsp;месяцев
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_3
										span.p-counter__item-title-name 18,1%
									.p-counter__item-leadtext Прирост с&nbsp;начала года
			.p-counter__row-wrap
				.p-counter__row
					.p-counter__col-left
						.p-counter__label Общий NPS
						.p-counter__content
							.p-counter__value <span>81,81</span>%
					.p-counter__col-right
						.p-counter__label СЗФО, Санкт-Петербург:
						.p-counter__content
							.p-counter__list
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_1
										span.p-counter__item-title-name 101,7%
									.p-counter__item-leadtext Выполнение плана в&nbsp;июне
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_2
										span.p-counter__item-title-name 14,1%
									.p-counter__item-leadtext Прирост за&nbsp;12&nbsp;месяцев
								.p-counter__item
									.p-counter__item-title
										span.p-counter__item-title-icon.p-counter__item-title-icon_3
										span.p-counter__item-title-name 18,1%
									.p-counter__item-leadtext Прирост с&nbsp;начала года
		.p-counter__controls(data-counter-gallery-controls)
