.quiz
	a.quiz__header(href="questions.html" style="background-image: url('./img/quiz-bg.svg'); background-color: #f9d548;")
		.quiz__title Выберите лучший выпуск номера
	.quiz__content
		form.quiz__form(action="" autocomplete="on")
			.quiz__form-list
				.radio
					input#radio1(type="radio" name="radio" value="radio1")
					label(for="radio1") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
				.radio
					input#radio2(type="radio" name="radio" value="radio2")
					label(for="radio2") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
				.radio
					input#radio3(type="radio" name="radio" value="radio3")
					label(for="radio3") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
				.radio
					input#radio4(type="radio" name="radio" value="radio4")
					label(for="radio4") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
				.radio
					input#radio5(type="radio" name="radio" value="radio5")
					label(for="radio5") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
				.radio
					input#radio6(type="radio" name="radio" value="radio6")
					label(for="radio6") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
			.quiz__form-submit
				.btn.btn_def Проголосовать