.short-news
	.short-news__header
		.short-news__title Наши читают
	.short-news__nested Самые читаемые статьи номера:
	.short-news__content
		ul.short-news__list
			-
				var listShortNews = [
					{
						"title": "Небольшой заголовок как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов",
						"leadtext": "Краткое описание статьи в&nbsp;две строки, обычно 100-150 символов с&nbsp;пробелами.",
						"count": "325"
					},
					{
						"title": "Небольшой заголовок как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов",
						"leadtext": "Краткое описание статьи в&nbsp;две строки, обычно 100-150 символов с&nbsp;пробелами.",
						"count": "297"
					},
					{
						"title": "Небольшой заголовок как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов",
						"leadtext": "Краткое описание статьи в&nbsp;две строки, обычно 100-150 символов с&nbsp;пробелами.",
						"count": "189"
					}
				]
			each item, index in listShortNews
				li.short-news__list-item
					a.short-news__elem(href="#" + (index + 1))
						span.short-news__elem-header
							span.short-news__elem-count!= item.count
							span.short-news__elem-count-label прочтений
						span.short-news__elem-content
							span.short-news__elem-title!= item.title
							span.short-news__elem-leadtext!= item.leadtext
							span.short-news__elem-review
								span.short-news__elem-review-item.short-news__elem-review-item_icon-heart
									span.short-news__elem-review-quantity 115
								span.short-news__elem-review-item.short-news__elem-review-item_icon-time
									span.short-news__elem-review-quantity
										span 4
										| &nbsp;мин
