title= title || 'Template'
meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
//- viewport для размера страницы
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
//- переключаем ie в режим последней версии
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
//- отключаем тулбар для изображений
meta(name="imagetoolbar" content="no")
//- просим IE оформлять все в классическом стиле без учета текущей темы операционки
meta(name="msthemecompatible" content="no")
//- Mobile Internet Explorer для сглаживания шрифтов
meta(name="cleartype" content="on")
//- Запрещаем распознавать номера телефонов и адреса
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
meta(name="theme-color", content="#fff")
meta(name="msapplication-navbutton-color" content="#fff")
meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
link(rel="stylesheet", href="css/libs.css")
link(rel="stylesheet", href="css/main.css")