block header
	- var isHeader = true
block footer
	- var isFooter = true
include _mixins
doctype html
html
	head
		include _head

	body(class=bodyClass)
		.app
			if isHeader
				include header
			main.app__main
				block content
			//- a.top-anchor(href="#" data-anchor)
			.top-anchor(data-anchor)
			if isFooter
				include footer
			include modal
		//LOAD SCRIPTS
		block scripts
			script(type="text/javascript" src="js/jquery.min.js")
			script(type="text/javascript" src="js/jquery.fs.selecter.js")
			script(type="text/javascript" src="js/jquery.fs.scroller.js")
			script(type="text/javascript" src="js/app.js")
			script(type="text/javascript" src="js/selectbox.js")
			script.
				document.addEventListener('DOMContentLoaded', function() {
					$('[data-custom-scroll]').scroller();
				});
