footer.app__footer
	.footer
		.footer__container
			.btn.btn_cloud Главная
			.footer__content
				a.footer__copyright(href="#") Редакционная политика
				.footer__copyright &#8470;&nbsp;1, 10&nbsp;января 2020&nbsp;г.
				.footer__actions
					.btn.btn_dark Петлокал
					.btn.btn_soc.btn_soc-inst
					.btn.btn_def(data-modal-open="feedback") Напишите нам!
