header.app__header
	.header(data-header)
		.header__container
			// add class is-active
			.navbar-toggler(data-navbar-toggler)
				.navbar-toggler__box
					.navbar-toggler__inner
			a.header__brand(href="main.html")
				img.header__brand-img(src="./img/brand.svg" alt="Петрович NEWS")
				span.header__brand-slogan
					span С&nbsp;заботой о&nbsp;настоящем
					span Петрович смело шагает
					span в&nbsp;будущее
			.header__navbar
				nav.navbar
					-
						var navbarList = [
							{
								"url": "#1",
								"title": "Рубрики",
								"active": true,
								"subject": [
									{
										"url": "category.html",
										"title": "Рубрики 1",
									},
									{
										"url": "category.html",
										"title": "Рубрики 2",
										"active": true
									},
									{
										"url": "category.html",
										"title": "Рубрики 3",
									},
									{
										"url": "category.html",
										"title": "Рубрики 4",
									},
									{
										"url": "category.html",
										"title": "Рубрики 5",
									},
									{
										"url": "category.html",
										"title": "Рубрики 6",
									}
								]
							},
							{
								"url": "people.html",
								"title": "Редакция",
								"active": false,
							},
							{
								"url": "archive.html",
								"title": "Архив",
								"active": false
							},
							{
								"url": "#4",
								"title": "Пишите нам!",
								"active": false
							}
						]
					ul.navbar__nav
						each item in navbarList
							li.navbar__item(class=(item.subject) ? "navbar__item_dropdown" : "")
								a.navbar__link(href=item.url class=(item.active) ? "is-active" : "")!= item.title
								if (item.subject)
									.navbar__dropdown
										.navbar__dropdown-menu
											ul.navbar__dropdown-list
												each list in item.subject
													li.navbar__dropdown-list-item
														a.navbar__dropdown-link(class=(list.active) ? "is-active" : "" href=list.url)!= list.title
			.header__btn-back
				.btn.btn_cloud Главная
			.header-search-btn(data-header-search-target)
				i.header-search-btn__icon
			form.header-search(method="post" data-header-search)
				.header-search__wrap
					.header-search__input-wrapper
						input.header-search__input(placeholder="Введите запрос" type="search" data-header-search-input)
						.header-search__clear(data-header-search-clear)
					.header-search__btn(data-header-search-btn)
		.header__overlay(data-navbar-overlay)