.modal(data-modal="feedback")
	.modal__wrapper(data-modal-wrapper)
		.modal__inner.modal-feedback
			button.modal__close(data-modal-close)
			.modal-feedback__header
				.modal-feedback__title Пишите нам!
			.modal-feedback__content
				form.modal-feedback__form(action="" autocomplete="on")
					.modal-feedback__form-group.has-error
						input.modal-feedback__form-control(name="email" placeholder="Введите E-mail")
					.modal-feedback__form-group
						textarea.modal-feedback__form-control(name="content" placeholder="Введите текст сообщения")
					.modal-feedback__form-group
						//- button.btn.btn_def Отправить
						input.btn.btn_def(type="submit" name="submit" value="Отправить")
		.modal__backdrop
		| <!--
		| added attr "data-modal-backdrop" for close by click backdrop ex. 
		.modal__backdrop(data-modal-backdrop)
		| -->
