$orange: #f48222;

.noUi-target {
    height: 10px;
    border-radius: 5px;
    background: rgba($orange, .25);
    border: none;
    box-shadow: none;

    &.focus {
        background: rgba($orange, .5);
    }
}
.noUi-origin {
    &:focus {
        outline: none;
    }
}
.noUi-handle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $orange;
    box-shadow: none;

    &::before,
    &::after {
        display: none;
    }
}

.noUi-touch-area {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #333;
    font: 17px/1 mb;
}

.noUi-horizontal {
    margin: 15px 0;
}
.noUi-horizontal .noUi-handle {
    width: 40px;
    height: 40px;
    right: -20px;
    top: -15px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -20px;
}
.noUi-marker {
    display: none;
}
.noUi-pips {
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    color: rgba(0,0,0,.25);
}
.noUi-pips-horizontal {
    height: 40px;
    padding: 23px 0 0;
}
.noUi-marker:first-child + .noUi-value {
    transform: translate(0, 50%);
}
.noUi-value:last-child {
    transform: translate(-100%, 50%);
}
.noUi-rtl .noUi-value:last-child {
    transform: translate(100%, 50%);
}
.noUi-connect {
    background: $orange;
}