---
title: 404
---
extends layouts/_layout
block content
	.not-found
		.not-found__media
			img.not-found__img(src="./img/404.svg" alt="")
		.not-found__content
			.not-found__title Страница не&nbsp;найдена
			a.btn.btn_def.btn_sm(href="main.html") На&nbsp;главную
