---
title: Архив
---
extends layouts/_layout
block content
	.page
		.page__header
			h1.page__title Архив
			form.archive-sort(data-role="form-sort")
				.archive-sort__wrap
					.row
						.col-12.col-md-4.archive-sort__col
							select#year.select-box(name="year" tabindex="1")
								option(value='') Год
								option(value="2020") 2020
								option(value="2019") 2019
								option(value="2018") 2018
								option(value="2017") 2017
								option(value="2016") 2016
								option(value="2015") 2015
								option(value="2014") 2014
								option(value="2013") 2013
						.col-12.col-md-4.archive-sort__col
							select#number.select-box(name="number" tabindex="1")
								option(value='') Выпуск
								option(value="172") 172
								option(value="173") 173
								option(value="174") 174
								option(value="175") 175
								option(value="176") 176
								option(value="177") 177
								option(value="178") 178
								option(value="179") 179
						.col-12.col-md-4.archive-sort__col
							button.btn.btn_def.archive-sort__btn Искать
		.page__content
			.archive-list
				.archive-list__wrap
					.row
						-
							var listArchive = [
								{
									"title": "ИЮНЬ 2019 No 6 (177)",
									"url": "#1"
								},
								{
									"title": "ИЮНЬ 2019 No 5 (176)",
									"url": "#2"
								},
								{
									"title": "ИЮНЬ 2019 No 4 (175)",
									"url": "#3"
								},
								{
									"title": "ИЮНЬ 2019 No 3 (174)",
									"url": "#4"
								},
								{
									"title": "ИЮНЬ 2019 No 3 (172)",
									"url": "#5"
								},
								{
									"title": "СЕНТЯБРЬ 2019 No 2 (171)",
									"url": "#6"
								}
							];
						- for (var i = 0; i < 3; i++)
							each item, index in listArchive
								.col-12.col-sm-6.col-lg-4.archive-list__col
									.archive-item
										.archive-item__wrap
											.archive-item__media(style="background-image: url('./img/archive/img-"+ (index + 1) +".jpg')")
												img.archive-item__img(src="./img/archive-null.gif" alt=item.title)
											.archive-item__content
												.archive-item__title(title=item.title)!= item.title
												.archive-item__control
													.archive-item__control-item
														a.btn.btn_def(href=item.url) Читать
													.archive-item__control-item
														a.btn.btn_grey(href="/pdf" target="_blank") PDF-версия
				.pager.pager_padding.pager_right
					.pager__wrap.pager__wrap_scroll
						ul.pager__list
							- for (var i = 1; i < 6; i++)
								li.pager__list-item(class=(i === 3) ? "is-active" : "")
									a.pager__link(href="#")!= i
							li.pager__list-item
								a.pager__link(href="#") Вперед