---
title: Статья
---
extends layouts/_layout
block content
	section.article-section
		.article-intro(style="background-image: url('./img/article/article-intro.jpg');")
			.container.article-intro__container
				.article-intro__inner
		.container.article-section__container
			.article-user
				.user-info.user-info_list.animate-right
					.user-info__wrap
						a.user-info__media(href="#")
							img.user-info__img(src="https://via.placeholder.com/70" alt="Ксения Корягина")
						.user-info__content
							a.user-info__name(href="#") Ксения Корягина
							p.user-info__leadtext директор по&nbsp;правовым вопросам
					.user-info__wrap
						a.user-info__media(href="#")
							img.user-info__img(src="https://via.placeholder.com/70" alt="Ксения Корягина")
						.user-info__content
							a.user-info__name(href="#") Ксения Корягина
							p.user-info__leadtext директор по&nbsp;правовым вопросам
					.user-info__wrap
						a.user-info__media(href="#")
							img.user-info__img(src="https://via.placeholder.com/70" alt="Ксения Корягина")
						.user-info__content
							a.user-info__name(href="#") Ксения Корягина
							p.user-info__leadtext директор по&nbsp;правовым вопросам
					.user-info__wrap
						a.user-info__media(href="#")
							img.user-info__img(src="https://via.placeholder.com/70" alt="Ксения Корягина")
						.user-info__content
							a.user-info__name(href="#") Ксения Корягина
							p.user-info__leadtext директор по&nbsp;правовым вопросам

			.article-header
				.row.justify-content-center
					.col.article-section__col-center
						.article-header__tag Правила игры
						.article-header__controls.animate-up
							ul.article-review
								li.article-review__item.article-review__item_icon-eye
									span.article-review__quantity 327
								li.article-review__item.article-review__item_icon-heart
									span.article-review__quantity 115
							| <!--
							.btn.btn_icon.btn_icon-comment
							.btn.btn_icon.btn_icon-share
							.btn.btn_icon.btn_icon-like
							| -->
						h1.article-header__title.animate-up Н1&nbsp;- Переходи на&nbsp;безопасную сторону
			.article-detail
				.wysiwyg
					.row.justify-content-center
						.col.article-section__col-center
							.animate-up
								p.mb-4 Сейчас все несчастные случаи, которые происходят в&nbsp;&laquo;Петровиче&raquo; с&nbsp;сотрудниками подрядных организаций,&nbsp;&mdash; будь&nbsp;то порезы, аварии, падения и&nbsp;т.д.,&nbsp;&mdash; формально не&nbsp;наша головная боль. Поэтому долгое время мы&nbsp;не&nbsp;рассматривали ее&nbsp;как зону риска, на&nbsp;которую нужно обратить внимание. Грубо говоря, работает сотрудник ООО &laquo;Рога&amp;Копыта&raquo; без каски&nbsp;&mdash; его дело. Последние два года в&nbsp;России все активнее обсуждаются новые нормы, с&nbsp;которыми компаниям предстоит жить и&nbsp;которые призовут по-другому выстраивать разговор с&nbsp;подрядчиками. Но&nbsp;дело не&nbsp;только в&nbsp;законе. А&nbsp;в&nbsp;том,что Петрович стремится к&nbsp;культуре безопасного поведения и&nbsp;предлагает подрядчикам разделить ее&nbsp;ценности.
								p.mb-5 В&nbsp;апреле в&nbsp;Сочи состоялось глобальное мероприятие &laquo;Всероссийская неделя охраны труда&nbsp;&mdash; 2019&raquo;. Дискуссии, программа и&nbsp;открытый обмен опытом. Действительно открытый, потому что в&nbsp;вопросе сохранения человеческой жизни конкуренциине существует. Россия медленно, но&nbsp;верно начинает перенимать культуру стран Европы, укладывая тенденции в&nbsp;законодательные нормы. Уже сейчас обсуждается идея внесения поправок в&nbsp;Трудовой кодекс&nbsp;РФ.
								p.mb-3 &nbsp;
							.animate-up
								h2.h2 H2&nbsp;Свой&nbsp;&mdash; чужой: почему стираются границы
								p.mb-5 В&nbsp;апреле в&nbsp;Сочи состоялось глобальное мероприятие &laquo;Всероссийская неделя охраны труда&nbsp;&mdash; 2019&raquo;. Дискуссии, программа и&nbsp;открытый обмен опытом. Действительно открытый, потому что в&nbsp;вопросе сохранения человеческой жизни конкуренции не&nbsp;существует. Россия медленно, но&nbsp;верно начинает перенимать культуру стран Европы, укладывая тенденции в&nbsp;законодательные нормы.<br>Уже сейчас обсуждается идея внесения поправок в&nbsp;Трудовой кодекс РФ. Они коснутся всех компаний, включая ретейлеров.
								p.mb-4 &nbsp;
							figure.figure.animate-start
								img.figure__img(src="./img/article/article-detail.jpg" alt="alt")
								figcaption.figure__caption Небольшое описание фото 50&nbsp;- 100 символов
							p.mb-4 &nbsp;
							.animate-up
								h3.h3 H3&nbsp;&mdash; Если вглядеться в&nbsp;цифры
								p.mb-4 &laquo;За&nbsp;ними можно увидеть группы риска&mdash; строители, подрядчики по&nbsp;ремонту и&nbsp;обслуживанию, водители доставки и&nbsp;поставщики. Логисты первыми включились в&nbsp;работу. &laquo;Все должны закрывать борта, закреплять грузы, ставить упоры, носить сигнальные жилеты&nbsp;&mdash; и&nbsp;это лишь часть требований по&nbsp;соблюдению техники безопасности, на&nbsp;которых мы&nbsp;настаиваем,&nbsp;&mdash; рассказывает директор транспортной логистики Надежда Степанова.&mdash; Сегодня они зафиксированы в&nbsp;договоре с&nbsp;ИП и&nbsp;перевозчиками. Также проводим инструктаж по&nbsp;технике безопасности при регистрации водителей и&nbsp;подъемщи- ков с&nbsp;заполнением журнала&raquo;.
								p.mb-5 Конечно, останется&nbsp;то, чем управлять почти невозможно,&nbsp;&mdash; ДТП на&nbsp;дорогах с&nbsp;участием наших &laquo;Газелей&raquo; или аварии на&nbsp;территории склада с&nbsp;участием клиентов. Например, в&nbsp;2017 году покупатель поссорился в&nbsp;машине с&nbsp;женой. Из-за стресса перепутал передачи, включил &laquo;заднюю&raquo; и, надавив на&nbsp;газ, &laquo;впечатал&raquo; стоящего сзади человека в&nbsp;&laquo;Газель&raquo;.
							p.mb-2 &nbsp;
							blockquote.user-blockquote.mb-4
								header.user-blockquote__header.animate-border
									h4.user-blockquote__title Заголовок цитаты опционально
									p.user-blockquote__text Как&nbsp;бы ни&nbsp;менялось законодательство, основы правоотношений мы&nbsp;закрепляем в&nbsp;договоре или в&nbsp;тендерной документации. В&nbsp;договорах нужно четко прописатьвсе мероприятия по&nbsp;охране труда и&nbsp;указать, за&nbsp;какие из&nbsp;них несет ответственность заказчик, а&nbsp;за&nbsp;какие&nbsp;&mdash; подрядчик. Я&nbsp;бы рекомендовала включить в&nbsp;договор определенные условия.
								footer.user-blockquote__footer
									cite.user-blockquote__cite.user-info
										.user-info__wrap
											a.user-info__media(href="#")
												img.user-info__img(src="https://via.placeholder.com/70" alt="Ксения Корягина")
											.user-info__content
												a.user-info__name(href="#") Ксения Корягина
												p.user-info__leadtext директор по&nbsp;правовым вопросам
							p.mb-4 &nbsp;
							.note.animate-right
								.note__wrap
									.note__header
										.note__title Материал по&nbsp;теме
									.note__content
										p.note__text Заголовок как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов
										ul.note__review
											li.note__review-item.note__review-item_icon-eye
												span.note__review-quantity 327
											li.note__review-item.note__review-item_icon-heart
												span.note__review-quantity 115
							.inline-gallery.mb-5(data-inline-gallery)
								.inline-gallery__list(data-inline-gallery-list)
									-
										var listMedia = [
											{
												"url": "./img/article-list/img-2.jpg",
												"img": "./img/article-list/img-2.jpg"
											},
											{
												"url": "./img/article-list/img-3.jpg",
												"img": "./img/article-list/img-3.jpg"
											},
											{
												"url": "./img/article-list/img-4.jpg",
												"img": "./img/article-list/img-4.jpg"
											},
											{
												"url": "./img/article-list/img-2.jpg",
												"img": "./img/article-list/img-2.jpg"
											},
											{
												"url": "./img/article-list/img-3.jpg",
												"img": "./img/article-list/img-3.jpg"
											},
											{
												"url": "./img/article-list/img-4.jpg",
												"img": "./img/article-list/img-4.jpg"
											}
										]
									each item in listMedia
										a.inline-gallery__media(href=item.url)
											img.inline-gallery__img(src=item.img alt="")
								.inline-gallery__controls(data-inline-gallery-controls)
							.inline-gallery.mb-5(data-inline-gallery)
								.inline-gallery__list(data-inline-gallery-list)
									-
										var listMedia = [
											{
												"url": "./img/article-list/img-3.jpg",
												"img": "./img/article-list/img-3.jpg"
											},
											{
												"url": "./img/article-list/img-2.jpg",
												"img": "./img/article/article-intro.jpg"
											}
										]
									each item in listMedia
										a.inline-gallery__media(href=item.url)
											img.inline-gallery__img(src=item.img alt="")
								.inline-gallery__controls(data-inline-gallery-controls)
							.animate-up
								h4.h4 H4&nbsp;&mdash; С&nbsp;чего начать?
								p.mb-5 С&nbsp;вопросов. К&nbsp;себе. В&nbsp;какой компании хотим работать, чего хотим избежать и&nbsp;что для этого можем сделать? А&nbsp;сделать можем первые шаги&nbsp;&mdash; сформировать рабочие группы, очертить зоны риска, предложить подрядчикам вместе создавать культуру безопасности, обозначить перемены на&nbsp;бумаге. &laquo;Сейчас у&nbsp;нас один пункт в&nbsp;договоре, который всю ответствен- ность перекладывает на&nbsp;подрядчика,&nbsp;&mdash; уверена Галина Асмаковская. &mdash;&nbsp;И&nbsp;когда мы&nbsp;снимаем их&nbsp;с&nbsp;высоты, они спрашивают: &bdquo;А&nbsp;вам-то что? Мы&nbsp;же за&nbsp;все в&nbsp;ответе&ldquo;. Но&nbsp;представьте ситуацию. Подрядчик ставит подпалетники на&nbsp;высотном складе и&nbsp;вдруг один из&nbsp;них падает на&nbsp;погрузчик. Водитель ошибочно дергает пульт управления, задевает стеллаж и&nbsp;весь склад рушится, как карточный домик. Чтобы оценить масштаб последствия таких ошибок, предлагаем посмотреть ролик на&nbsp;YouTube &bdquo;Обрушение склада. Цена одной минуты&ldquo;. Это случай из&nbsp;жизни. Слава богу, не&nbsp;из&nbsp;нашей&raquo;.
							.list.mb-3
								.list__title Нам рекомендовали включить в&nbsp;договор следующие условия:
								ul.list.list_check
									li Заказчик информирует подрядчика о&nbsp;возможных опасностях на&nbsp;территории проведения работ
									li Подрядчик обязан привлекать к&nbsp;работе квалифицированный персонал и&nbsp;проводить его обучение
									li Акцентировать внимание на&nbsp;том, что стороны понимают всю степень ответственности, одинаково ее&nbsp;трактуют и&nbsp;принимают штрафные санкции
							p.mb-2 &nbsp;
							.list.mb-5
								.list__title Нам рекомендовали включить в&nbsp;договор следующие условия:
								ul.list-num
									li Персонал. Важно понять, какими навыками и&nbsp;компетенциями должен обладать менеджер оптового отдела. Важно также понять, к&nbsp;чему стремятся сами сотрудники.
									li Ассортимент. Есть проектные менеджеры, отвечающие за&nbsp;продажу конкретной группы товаров в&nbsp;оптовом канале.
									li Проектный подход к&nbsp;b2b-продажам. Будет создан отдел по&nbsp;работе с&nbsp;ключевыми клиентами, он&nbsp;займется источниками формирования спроса
							p.mb-2 &nbsp;
							blockquote.user-blockquote.mb-4
								p.user-blockquote__text.animate-border Как&nbsp;бы ни&nbsp;менялось законодательство, основы правоотношений мы&nbsp;закрепляем в&nbsp;договоре или в&nbsp;тендерной документации. В&nbsp;договорах нужно четко прописатьвсе мероприятия по&nbsp;охране труда и&nbsp;указать, за&nbsp;какие из&nbsp;них несет ответственность заказчик, а&nbsp;за&nbsp;какие&nbsp;&mdash; подрядчик. Я&nbsp;бы рекомендовала включить в&nbsp;договор определенные условия.
								footer.user-blockquote__footer
									cite.user-blockquote__cite.user-info.user-info_no-image
										.user-info__wrap
											.user-info__content
												a.user-info__name(href="#") Ксения Корягина
												p.user-info__leadtext директор по&nbsp;правовым вопросам
							p.mb-2 &nbsp;
							p.mb-4 &laquo;За&nbsp;ними можно увидеть группы риска&mdash; строители, подрядчики по&nbsp;ремонту и&nbsp;обслуживанию, водители доставки и&nbsp;поставщики. Логисты первыми вклю- чились в&nbsp;работу. &laquo;Все должны закрывать борта, закреплять грузы, ставить упоры, носить сигнальные жилеты&nbsp;&mdash; и&nbsp;это лишь часть требований по&nbsp;соблюдению техники безопасности, на&nbsp;которых мы&nbsp;настаиваем,&nbsp;&mdash; рассказывает директор транспортной логистики Надежда Степанова.&mdash; Сегодня они зафиксированы в&nbsp;договоре с&nbsp;ИП и&nbsp;перевозчиками. Также проводим инструктаж по&nbsp;технике безопасности при регистрации водителей и&nbsp;подъемщи- ков с&nbsp;заполнением журнала&raquo;.
							p.mb-5 Конечно, останется&nbsp;то, чем управлять почти невозможно,&nbsp;&mdash; ДТП на&nbsp;дорогах с&nbsp;участием наших &laquo;Газелей&raquo; или аварии на&nbsp;территории склада с&nbsp;участием клиентов. Например, в&nbsp;2017 году покупатель поссорился в&nbsp;машине с&nbsp;женой. Из-за стресса перепутал передачи, включил &laquo;заднюю&raquo; и, надавив на&nbsp;газ, &laquo;впечатал&raquo; стоящего сзади человека в&nbsp;&laquo;Газель&raquo;.
							p.mb-3 &nbsp;
							blockquote.blockquote.mb-4
								p.blockquote__text Горизонтальная врезка в&nbsp;текст малая, размером от&nbsp;края до&nbsp;края, заголовок, текст до&nbsp;200&nbsp;символов.
							p.mb-3 &nbsp;
							.text-ins.mb-4
								.text-ins__wrap
									h4.text-ins__title Заголовок вреза
									p.text-ins__lead &laquo;За&nbsp;ними можно увидеть группы риска&mdash; строители, подрядчики по&nbsp;ремонту и&nbsp;обслуживанию, водители доставки и&nbsp;поставщики. Логисты первыми включились в&nbsp;работу. &laquo;Все должны закрывать борта, закреплять грузы, ставить упоры, носить сигнальные жилеты&nbsp;&mdash; и&nbsp;это лишь часть требований по&nbsp;соблюдению техники безопасности, на&nbsp;которых мы&nbsp;настаиваем,&nbsp;&mdash; рассказывает директор транспортной логистики Надежда Степанова.&mdash; Сегодня они зафиксированы в&nbsp;договоре с&nbsp;ИП и&nbsp;перевозчиками. Также проводим инструктаж по&nbsp;технике безопасности при регистрации водителей и&nbsp;подъемщиков с&nbsp;заполнением журнала&raquo;. Конечно, останется&nbsp;то, чем управлять почти невозможно,&nbsp;&mdash; ДТП на&nbsp;дорогах с&nbsp;участием наших &laquo;Газелей&raquo; или аварии на&nbsp;территории склада с&nbsp;участием клиентов. Например, в&nbsp;2017 году покупатель поссорился в&nbsp;машине с&nbsp;женой. Из-за стресса перепутал передачи, включил &laquo;заднюю&raquo; и, надавив на&nbsp;газ, &laquo;впечатал&raquo; стоящего сзади человека в&nbsp;&laquo;Газель&raquo;.
								.text-ins__bg
							p.mb-4 &nbsp;
							.music-block
								.music-block__wrap
									.music-block__album
										.music-block__album-cover
											img.music-block__album-cover-img(src="https://muz-tv.ru/storage/images/chart-tracks/thumb/Vt76Z4DGUiNekcRHiIz2txdnWhLeVMhWTjqBdV2Z.jpeg")
										.music-block__album-caption
											.music-block__album-caption-title Всероссийская неделя охраны труда&nbsp;&mdash; 2019
											.music-block__album-caption-type АУДИО
											.music-block__album-caption-leadtext В&nbsp;апреле в&nbsp;Сочи состоялось глобальное мероприятие &laquo;Всероссийская неделя охраны труда&nbsp;&mdash; 2019&raquo;. Дискуссии, программа и&nbsp;открытый обмен опытом. Действительно открытый, потому что в&nbsp;вопросе сохранения человеческой жизни конкуренциине существует.
									.music-block__player(data-music-player)
										.music-block__player-control(data-music-player-control, data-src="https://muz-tv.ru/storage/files/chart-tracks/1606119969.mp3")
										.music-block__player-element
											.music-block__player-target(data-music-player-element)
												audio#music-player-1
							.music-block
								.music-block__wrap
									.music-block__album
										.music-block__album-cover
											img.music-block__album-cover-img(src="https://muz-tv.ru/storage/images/chart-tracks/thumb/Vt76Z4DGUiNekcRHiIz2txdnWhLeVMhWTjqBdV2Z.jpeg")
										.music-block__album-caption
											.music-block__album-caption-title Всероссийская неделя охраны труда&nbsp;&mdash; 2019
											.music-block__album-caption-type АУДИО
											.music-block__album-caption-leadtext В&nbsp;апреле в&nbsp;Сочи состоялось глобальное мероприятие &laquo;Всероссийская неделя охраны труда&nbsp;&mdash; 2019&raquo;. Дискуссии, программа и&nbsp;открытый обмен опытом. Действительно открытый, потому что в&nbsp;вопросе сохранения человеческой жизни конкуренциине существует.
									.music-block__player(data-music-player)
										.music-block__player-control(data-music-player-control, data-src="https://muz-tv.ru/storage/files/chart-tracks/1606119568.mp3")
										.music-block__player-element
											.music-block__player-target(data-music-player-element)
												audio#music-player-2
							p.mb-4 &nbsp;
							p.mb-5 С&nbsp;вопросов. К&nbsp;себе. В&nbsp;какой компании хотим работать, чего хотим избежать и&nbsp;что для этого можем сделать? А&nbsp;сделать можем первые шаги&nbsp;&mdash; сформировать рабочие группы, очертить зоны риска, предложить подрядчикам вместе создавать культуру безопасности, обозначить перемены на&nbsp;бумаге. &laquo;Сейчас у&nbsp;нас один пункт в&nbsp;договоре, который всю ответствен- ность перекладывает на&nbsp;подрядчика,&nbsp;&mdash; уверена Галина Асмаковская. &mdash;&nbsp;И&nbsp;когда мы&nbsp;снимаем их&nbsp;с&nbsp;высоты, они спрашивают: &bdquo;А&nbsp;вам-то что? Мы&nbsp;же за&nbsp;все в&nbsp;ответе&ldquo;. Но&nbsp;представьте ситуацию. Подрядчик ставит подпалетники на&nbsp;высотном складе и&nbsp;вдруг один из&nbsp;них падает на&nbsp;погрузчик. Водитель ошибочно дергает пульт управления, задевает стеллаж и&nbsp;весь склад рушится, как карточный домик. Чтобы оценить масштаб последствия таких ошибок, предлагаем посмотреть ролик на&nbsp;YouTube &bdquo;Обрушение склада. Цена одной минуты&ldquo;. Это случай из&nbsp;жизни. Слава богу, не&nbsp;из&nbsp;нашей&raquo;.
							p.mb-2 &nbsp;
							figure.figure-inline.animate-right.mb-5
								img.figure-inline__img(src="./img/article/article-detail-2.jpg" alt="alt")
								figcaption.figure-inline__caption
									h3.figure-inline__title Заголовок дополнения
									p.figure-inline__lead Дополнение к&nbsp;статье. Как&nbsp;бы ни&nbsp;менялось законодательство, основы правоотношений мы&nbsp;закрепляем в&nbsp;договоре или в&nbsp;тендерной документации. В&nbsp;договорах нужно четко прописатьвсе мероприятия по&nbsp;охране труда и&nbsp;указать, за&nbsp;какие из&nbsp;них несет ответственность заказчик, а&nbsp;за&nbsp;какие&nbsp;&mdash; подрядчик. Я&nbsp;бы рекомендовала включить в&nbsp;договор определенные условия.
							p.mb-4 &nbsp;
							p.mb-4 С&nbsp;вопросов. К&nbsp;себе. В&nbsp;какой компании хотим работать, чего хотим избежать и&nbsp;что для этого можем сделать? А&nbsp;сделать можем первые шаги&nbsp;&mdash; сформировать рабочие группы, очертить зоны риска, предложить подрядчикам вместе создавать культуру безопасности, обозначить перемены на&nbsp;бумаге. &laquo;Сейчас у&nbsp;нас один пункт в&nbsp;договоре, который всю ответствен- ность перекладывает на&nbsp;подрядчика,&nbsp;&mdash; уверена Галина Асмаковская. &mdash;&nbsp;И&nbsp;когда мы&nbsp;снимаем их&nbsp;с&nbsp;высоты, они спрашивают: &bdquo;А&nbsp;вам-то что? Мы&nbsp;же за&nbsp;все в&nbsp;ответе&ldquo;. Но&nbsp;представьте ситуацию. Подрядчик ставит подпалетники на&nbsp;высотном складе и&nbsp;вдруг один из&nbsp;них падает на&nbsp;погрузчик. Водитель ошибочно дергает пульт управления, задевает стеллаж и&nbsp;весь склад рушится, как карточный домик. Чтобы оценить масштаб последствия таких ошибок, предлагаем посмотреть ролик на&nbsp;YouTube &bdquo;Обрушение склада. Цена одной минуты&ldquo;. Это случай из&nbsp;жизни. Слава богу, не&nbsp;из&nbsp;нашей&raquo;.
							.table-info.animate-down
								.table-info__wrap
									.table-info__row
										.table-info__col.table-info__col_1
											.table-info__cell
												.table-info__number
													span.table-info__number-value 14
													span.table-info__number-text лет
												.table-info__text Исполнилось &laquo;Парнасу&raquo; 17&nbsp;февраля
										.table-info__col.table-info__col_2
											.table-info__cell.table-info__cell_md-vreverse
												.table-info__text Площадь торгового зала после реконструкции
												.table-info__number
													span.table-info__number-value 2000
													span.table-info__number-text кв.&nbsp;м
										.table-info__col.table-info__col_3
											.table-info__cell
												.table-info__text &laquo;БВИ Инжиниринг&raquo; выполниа все строительно-монтажные работы, добыв это право в&nbsp;нелегкой конкурентной борьбе
							p.mb-4 &nbsp;
							p.mb-5 &laquo;За&nbsp;ними можно увидеть группы риска&mdash; строители, подрядчики по&nbsp;ремонту и&nbsp;обслуживанию, водители доставки и&nbsp;поставщики. Логисты первыми вклю- чились в&nbsp;работу. &laquo;Все должны закрывать борта, закреплять грузы, ставить упоры, носить сигнальные жилеты&nbsp;&mdash; и&nbsp;это лишь часть требований по&nbsp;соблюдению техники безопасности, на&nbsp;которых мы&nbsp;настаиваем,&nbsp;&mdash; рассказывает директор транспортной логистики Надежда Степанова.&mdash; Сегодня они зафиксированы в&nbsp;договоре с&nbsp;ИП и&nbsp;перевозчиками. Также проводим инструктаж по&nbsp;технике безопасности при регистрации водителей и&nbsp;подъемщиков с&nbsp;заполнением журнала&raquo;.
							p.mb-2 &nbsp;
					.row.no-gutters.mb-4
						.col
							.table-info.animate-down
								.table-info__wrap
									.table-info__row
										.table-info__col.table-info__col_1
											.table-info__cell
												.table-info__number
													span.table-info__number-value 14
													span.table-info__number-text лет
												.table-info__text Исполнилось &laquo;Парнасу&raquo; 17&nbsp;февраля
										.table-info__col.table-info__col_2
											.table-info__cell.table-info__cell_md-vreverse
												.table-info__text Площадь торгового зала после реконструкции
												.table-info__number
													span.table-info__number-value 2000
													span.table-info__number-text кв.&nbsp;м
										.table-info__col.table-info__col_3
											.table-info__cell
												.table-info__text &laquo;БВИ Инжиниринг&raquo; выполниа все строительно-монтажные работы, добыв это право в&nbsp;нелегкой конкурентной борьбе
							p.mb-4 &nbsp;
					.row.justify-content-center
						.col.article-section__col-center
							p.mb-4 С&nbsp;вопросов. К&nbsp;себе. В&nbsp;какой компании хотим работать, чего хотим избежать и&nbsp;что для этого можем сделать? А&nbsp;сделать можем первые шаги&nbsp;&mdash; сформировать рабочие группы, очертить зоны риска, предложить подрядчикам вместе создавать культуру безопасности, обозначить перемены на&nbsp;бумаге. &laquo;Сейчас у&nbsp;нас один пункт в&nbsp;договоре, который всю ответствен- ность перекладывает на&nbsp;подрядчика,&nbsp;&mdash; уверена Галина Асмаковская. &mdash;&nbsp;И&nbsp;когда мы&nbsp;снимаем их&nbsp;с&nbsp;высоты, они спрашивают: &bdquo;А&nbsp;вам-то что? Мы&nbsp;же за&nbsp;все в&nbsp;ответе&ldquo;. Но&nbsp;представьте ситуацию. Подрядчик ставит подпалетники на&nbsp;высотном складе и&nbsp;вдруг один из&nbsp;них падает на&nbsp;погрузчик. Водитель ошибочно дергает пульт управления, задевает стеллаж и&nbsp;весь склад рушится, как карточный домик. Чтобы оценить масштаб последствия таких ошибок, предлагаем посмотреть ролик на&nbsp;YouTube &bdquo;Обрушение склада. Цена одной минуты&ldquo;. Это случай из&nbsp;жизни. Слава богу, не&nbsp;из&nbsp;нашей&raquo;.
							p.mb-2 &nbsp;
							p
								b
									ins.ins.animate-right Сокращенный рабочий день по&nbsp;пятницам для&nbsp;ЦО: почему &laquo;Петрович&raquo; еще не&nbsp;перенял этот опыт многих компаний?
							p.mb-4 &mdash;&nbsp;Переподпишем трудовые договоры и&nbsp;все. Но&nbsp;будет&nbsp;ли это по-товарищески по&nbsp;отношению к&nbsp;коллегам с&nbsp;СТЦ? Так и&nbsp;пред- ставляю: пятница, офис, бумажки летают по&nbsp;коридору, звонит коллега со&nbsp;склада, а&nbsp;в&nbsp;ЦО трубка не&nbsp;поднимается. Думать надо не&nbsp;только об&nbsp;офисе, но&nbsp;и&nbsp;обо всех СТЦ, где людям тоже нужно уйти пораньше. Я&nbsp;убежден, что в&nbsp;&laquo;Петровиче&raquo; очень хорошее соотношение свободы и&nbsp;графика. Ни&nbsp;разу не&nbsp;слышал, чтобы кого-то руково- дитель не&nbsp;отпустил по&nbsp;личному вопросу, если человеку &laquo;надо было&raquo;. Уверен, такие отношения куда лучше жесткого тайминга.
							p.mb-2 &nbsp;
							p
								b
									ins.ins.animate-right Будет&nbsp;ли индексация в&nbsp;этом году?
							p.mb-4 &mdash;&nbsp;Переподпишем трудовые договоры и&nbsp;все. Но&nbsp;будет&nbsp;ли это по-товарищески по&nbsp;отношению к&nbsp;коллегам с&nbsp;СТЦ? Так и&nbsp;пред- ставляю: пятница, офис, бумажки летают по&nbsp;коридору, звонит коллега со&nbsp;склада, а&nbsp;в&nbsp;ЦО трубка не&nbsp;поднимается. Думать надо не&nbsp;только об&nbsp;офисе, но&nbsp;и&nbsp;обо всех СТЦ, где людям тоже нужно уйти пораньше. Я&nbsp;убежден, что в&nbsp;&laquo;Петровиче&raquo; очень хорошее соотношение свободы и&nbsp;графика. Ни&nbsp;разу не&nbsp;слышал, чтобы кого-то руково- дитель не&nbsp;отпустил по&nbsp;личному вопросу, если человеку &laquo;надо было&raquo;. Уверен, такие отношения куда лучше жесткого тайминга.
							.quiz.quiz_content
								.quiz__header
									.quiz__title Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.radio
												input#radio1(type="radio" name="radio" value="radio1")
												label(for="radio1") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio2(type="radio" name="radio" value="radio2")
												label(for="radio2") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio3(type="radio" name="radio" value="radio3")
												label(for="radio3") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio4(type="radio" name="radio" value="radio4")
												label(for="radio4") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio5(type="radio" name="radio" value="radio5")
												label(for="radio5") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio6(type="radio" name="radio" value="radio6")
												label(for="radio6") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.quiz__form-submit
											.btn.btn_def Проголосовать
											.user-show
												.user-show__control
													.user-show__dropdown(data-custom-scroll)
														ul.user-show__dropdown-list
															- for (var i = 0; i < 4; i++)
																li.user-show__dropdown-list-item
																	a.user-show__item(hre="#")
																		span.user-show__item-media(style="background-image: url('https://via.placeholder.com/40')")
																		span.user-show__item-name Виталий Онежко
																li.user-show__dropdown-list-item
																	a.user-show__item(hre="#")
																		span.user-show__item-media(style="background-image: url('https://via.placeholder.com/40')")
																		span.user-show__item-name Анастасия Теплякова
							p.mb-2 &nbsp;
							.table-responsive.mb-4
								table.table
									thead
										tr
											th(colspan="4") Небольшой заголовок таблицы
									tbody
										tr
											td 1&nbsp;квартал
											td 20,25%
											td 70,14%
											td 37,82%
										tr
											td 2&nbsp;квартал
											td 20,25%
											td 70,14%
											td 37,82%
							p.mb-3 &nbsp;
							p.mb-4 &laquo;За&nbsp;ними можно увидеть группы риска&mdash; строители, подрядчики по&nbsp;ремонту и&nbsp;обслуживанию, водители доставки и&nbsp;поставщики. Логисты первыми включились в&nbsp;работу. &laquo;Все должны закрывать борта, закреплять грузы, ставить упоры, носить сигнальные жилеты&nbsp;&mdash; и&nbsp;это лишь часть требований по&nbsp;соблюдению техники безопасности, на&nbsp;которых мы&nbsp;настаиваем,&nbsp;&mdash; рассказывает директор транспортной логистики Надежда Степанова.&mdash; Сегодня они зафиксированы в&nbsp;договоре с&nbsp;ИП и&nbsp;перевозчиками. Также проводим инструктаж по&nbsp;технике безопасности при регистрации водителей и&nbsp;подъемщи- ков с&nbsp;заполнением журнала&raquo;.
							p.mb-4 Конечно, останется&nbsp;то, чем управлять почти невозможно,&nbsp;&mdash; ДТП на&nbsp;дорогах с&nbsp;участием наших &laquo;Газелей&raquo; или аварии на&nbsp;территории склада с&nbsp;участием клиентов. Например, в&nbsp;2017 году покупатель поссорился в&nbsp;машине с&nbsp;женой. Из-за стресса перепутал передачи, включил &laquo;заднюю&raquo; и, надавив на&nbsp;газ, &laquo;впечатал&raquo; стоящего сзади человека в&nbsp;&laquo;Газель&raquo;.
							p.mb-2 &nbsp;
							.user-list.mb-5.animate-up
								.user-list__row
									.user-list__item
										.user-list__item-wrap
											.user-list__item-media
												img.user-list__item-img(src="./img/article/user-1.jpg")
											.user-list__item-content
												.user-list__item-table
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Имя
														.user-list__item-table-col.user-list__item-table-col_2 Гаря Эдлеев
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Главное задание
														.user-list__item-table-col.user-list__item-table-col_2 Чтобы команда достигала новых высот
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Время в&nbsp;деле &laquo;Петровича&raquo;
														.user-list__item-table-col.user-list__item-table-col_2 Январь 2019
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Любимая часть дела
														.user-list__item-table-col.user-list__item-table-col_2 Получение зарплаты )))
								.user-list__row
									.user-list__item
										.user-list__item-wrap
											.user-list__item-media
												img.user-list__item-img(src="./img/article/user-2.jpg")
											.user-list__item-content
												.user-list__item-table
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Имя
														.user-list__item-table-col.user-list__item-table-col_2 Гаря Эдлеев
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Главное задание
														.user-list__item-table-col.user-list__item-table-col_2 Чтобы команда достигала новых высот
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Время в&nbsp;деле &laquo;Петровича&raquo;
														.user-list__item-table-col.user-list__item-table-col_2 Январь 2019
													.user-list__item-table-row
														.user-list__item-table-col.user-list__item-table-col_1 Любимая часть дела
														.user-list__item-table-col.user-list__item-table-col_2 Получение зарплаты )))

							p.mb-5 &nbsp;
							p.mb-4 С&nbsp;вопросов. К&nbsp;себе. В&nbsp;какой компании хотим работать, чего хотим избежать и&nbsp;что для этого можем сделать? А&nbsp;сделать можем первые шаги&nbsp;&mdash; сформировать рабочие группы, очертить зоны риска, предложить подрядчикам вместе создавать культуру безопасности, обозначить перемены на&nbsp;бумаге. &laquo;Сейчас у&nbsp;нас один пункт в&nbsp;договоре, который всю ответствен- ность перекладывает на&nbsp;подрядчика,&nbsp;&mdash; уверена Галина Асмаковская. &mdash;&nbsp;И&nbsp;когда мы&nbsp;снимаем их&nbsp;с&nbsp;высоты, они спрашивают: &bdquo;А&nbsp;вам-то что? Мы&nbsp;же за&nbsp;все в&nbsp;ответе&ldquo;. Но&nbsp;представьте ситуацию. Подрядчик ставит подпалетники на&nbsp;высотном складе и&nbsp;вдруг один из&nbsp;них падает на&nbsp;погрузчик. Водитель ошибочно дергает пульт управления, задевает стеллаж и&nbsp;весь склад рушится, как карточный домик. Чтобы оценить масштаб последствия таких ошибок, предлагаем посмотреть ролик на&nbsp;YouTube &bdquo;Обрушение склада. Цена одной минуты&ldquo;. Это случай из&nbsp;жизни. Слава богу, не&nbsp;из&nbsp;нашей&raquo;.
			.article-footer
				.row.justify-content-center
					.col.article-section__col-center
						.btn.btn_like.active Нравится
						.user-show
							.user-show__control
								.user-show__dropdown(data-custom-scroll)
									ul.user-show__dropdown-list
										- for (var i = 0; i < 3; i++)
											li.user-show__dropdown-list-item
												a.user-show__item(hre="#")
													span.user-show__item-media(style="background-image: url('https://via.placeholder.com/40')")
													span.user-show__item-name Виталий Онежко
											li.user-show__dropdown-list-item
												a.user-show__item(hre="#")
													span.user-show__item-media(style="background-image: url('https://via.placeholder.com/40')")
													span.user-show__item-name Анастасия Теплякова
		.comments
			.comments__wrap
				.comments__container
					h4.comments__title Комментарии
					form.comments__form(action="/" autocomplete="on")
						.comments__form-row
							.comments__form-col.comments__form-col_control
								textarea.comments__form-control(name="comment-text" class="form-control form-control-lg" rows="1" placeholder="Введите коментарий ...")
							.comments__form-col.comments__form-col_btn
								.btn.comments__form-btn
			.comments__list
				.comment
					a.comment__media(href="#")
						img.comment__img(src="https://via.placeholder.com/70" alt="")
					.comment__inner
						.comment__inner-header
							a.comment__name(href="#") Виталий Онежко
							span.comment__datetime 10.12.2020&nbsp;14:30
						.comment__inner-content
							p.comment__text Отличная статья! Конечно, останется&nbsp;то, чем управлять почти невозможно,&nbsp;&mdash; ДТП на&nbsp;дорогах с&nbsp;участием наших &laquo;Газелей&raquo; или аварии на&nbsp;территории склада с&nbsp;участием клиентов.
						.comment__inner-footer
							.comment__activity.is-active
								span.comment__activity-icon
									svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
										path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
								span.comment__activity-quantity 115
							.comment__btn-reply Ответить
				.comment
					a.comment__media(href="#")
						img.comment__img(src="https://via.placeholder.com/70" alt="")
					.comment__inner
						.comment__inner-header
							a.comment__name(href="#") Анастасия Теплякова
							span.comment__datetime 08.12.2020&nbsp;11:25
						.comment__inner-content
							p.comment__text Интересно
						.comment__inner-footer
							.comment__activity
								span.comment__activity-icon
									svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
										path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
								span.comment__activity-quantity 115
							.comment__btn-reply Ответить
					.replies
						.replies__wrap
							.comment
								a.comment__media(href="#")
									img.comment__img(src="https://via.placeholder.com/70" alt="")
								.comment__inner
									.comment__inner-header
										a.comment__name(href="#") Андрей Чадаев
										span.comment__datetime 10.12.2020&nbsp;14:30
									.comment__inner-content
										p.comment__text Отличная статья!
									.comment__inner-footer
										.comment__activity
											span.comment__activity-icon
												svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
													path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
											span.comment__activity-quantity 115
										.comment__btn-reply Ответить
							.comment
								a.comment__media(href="#")
									img.comment__img(src="https://via.placeholder.com/70" alt="")
								.comment__inner
									.comment__inner-header
										a.comment__name(href="#") Андрей Чадаев
										span.comment__datetime 10.12.2020&nbsp;14:30
									.comment__inner-content
										p.comment__text Отличная статья!
									.comment__inner-footer
										.comment__activity
											span.comment__activity-icon
												svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
													path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
											span.comment__activity-quantity 115
										.comment__btn-reply Ответить
							.comment
								a.comment__media(href="#")
									img.comment__img(src="https://via.placeholder.com/70" alt="")
								.comment__inner
									.comment__inner-header
										a.comment__name(href="#") Андрей Чадаев
										span.comment__datetime 10.12.2020&nbsp;14:30
									.comment__inner-content
										p.comment__text Отличная статья!
									.comment__inner-footer
										.comment__activity
											span.comment__activity-icon
												svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
													path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
											span.comment__activity-quantity 115
										.comment__btn-reply Ответить
								.replies
									.replies__wrap
										form.replies__form
											.replies__form-row
												textarea.replies__form-control(name="comment-text" rows="3" placeholder="Введите коментарий ...")
											.replies__form-action
												.btn.btn_def Ответ
												.btn.btn_white Отмена
				.comment
					a.comment__media(href="#")
						img.comment__img(src="https://via.placeholder.com/70" alt="")
					.comment__inner
						.comment__inner-header
							a.comment__name(href="#") Андрей Чадаев
							span.comment__datetime 10.12.2020&nbsp;14:30
						.comment__inner-content
							p.comment__text Класс!
						.comment__inner-footer
							.comment__activity
								span.comment__activity-icon
									svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17")
										path(stroke-width="0.5" d="M9 16.014c-.256 0-.503-.093-.696-.261-.727-.636-1.428-1.234-2.047-1.76l-.003-.003c-1.813-1.546-3.38-2.88-4.469-4.195C.567 8.325 0 6.932 0 5.41c0-1.48.507-2.844 1.428-3.843C2.36.557 3.638 0 5.028 0c1.04 0 1.991.328 2.829.976.422.327.805.727 1.143 1.194.338-.467.72-.867 1.144-1.194C10.98.328 11.933 0 12.972 0c1.39 0 2.668.557 3.6 1.567C17.493 2.566 18 3.93 18 5.41c0 1.522-.567 2.915-1.785 4.385-1.09 1.315-2.656 2.65-4.469 4.194-.62.528-1.321 1.127-2.05 1.764-.193.168-.44.261-.696.261z" transform="translate(-1607 -1150) translate(1607 1150)")
								span.comment__activity-quantity 115
							.comment__btn-reply Ответить
					.replies
						.replies__wrap
							form.replies__form
								.replies__form-row
									textarea.replies__form-control(name="comment-text" rows="3" placeholder="Введите коментарий ...")
								.replies__form-action
									.btn.btn_def Ответ
									.btn.btn_white Отмена
