---
title: Login
---
block header
	- var isHeader = false
block footer
	- var isFooter = false
extends layouts/_layout
block content
	.login
		.login__header
			.login__brand
				img.login__brand-img(src="./img/brand.svg" alt="Петрович NEWS")
		.login__content
			h2.login__title Авторизация
			form.form(action="" autocomplete="on")
				.form__group.has-error
					input.form__control(name="email" placeholder="Введите E-mail" type="text")
				.form__group.has-error
					input.form__control(name="pass" placeholder="Введите пароль" type="password")
				.form__footer
					//- button.btn.btn_def Отправить
					input.btn.btn_def(type="submit" name="submit" value="Войти")
					a.form__link(href="#") На&nbsp;петлокал
