---
title: Главная
---
extends layouts/_layout
block content
	include ./blocks/article-list
	include ./blocks/p-counter
	.article-list.article-list_no-gutters-md
		.article-list__wrap
			.row
				.col-12.col-md-6.article-list__col
					include ./blocks/short-news
				.col-12.col-md-6.article-list__col
					include ./blocks/quiz
			.row
				.col-12.col-md-6.article-list__col
					include ./blocks/short-news
				.col-12.col-md-6.article-list__col
					.quiz
						.quiz__header(href="questions.html" style="background-image: url('./img/quiz-bg.svg'); background-color: #f9d548;")
							.quiz__title Выберите лучший выпуск номера
						.quiz__content
							form.quiz__form(action="" autocomplete="on")
								.quiz__form-list
									.progress
										.progress__title <b>41%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:41%;")
									.progress
										.progress__title <b>28%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:28%;")
									.progress
										.progress__title <b>11%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:11%;")
									.progress
										.progress__title <b>10%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:10%;")
									.progress
										.progress__title <b>5%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:5%;")
									.progress
										.progress__title <b>3%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.progress__wrap
											.progress__line
											.progress__bar(style="width:3%;")
								.quiz__form-submit
									p.quiz__leadtext Всего проголосовало: 384
	include ./blocks/inst-media
