---
title: Команда номера
---
extends layouts/_layout
block content
	section.article-section
		.container.article-section__container
			.article-header
				.row.justify-content-center
					.col.article-section__col-center
						h1.article-header__title Команда номера
			.article-detail
				.wysiwyg
					.row.justify-content-center
						.col.article-section__col-center.people
							.row
								.col-12.col-lg-10
									.people__item.people__item_detail
										.people__item-leadtext
											p &laquo;Когда люди разговаривают друг с&nbsp;другом честно и&nbsp;откровенно, то&nbsp;это становится основой культуры открытости.
											p В&nbsp;здоровом диалоге рождаются идеи, смыслы, доверие&nbsp;&mdash; столь важные для каждого человека.
											p Именно эту культуру и&nbsp;хранит &bdquo;Петрович News&ldquo;, оставаясь местом встреч всех Петровичей.&raquo;
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-1.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Евгений Мовчан
											p.people__item-info Главный редактор, смыслообразователь 
							.row
								.col-12.col-md-6
									.people__item
										.people__item-leadtext
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-2.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Вероника Махно
											p.people__item-info Создатель выпуска, искатель тем 
								.col-12.col-md-6
									.people__item
										.people__item-leadtext
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-3.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Екатерина Гвоздева
											p.people__item-info Редактор слова
								.col-12.col-md-6
									.people__item
										.people__item-leadtext
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-4.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Игорь Колынин
											p.people__item-info Автор острых вопросов
								.col-12.col-md-6
									.people__item
										.people__item-leadtext
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-5.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Константин Мельников
											p.people__item-info Герой рубрики
								.col-12.col-md-6
									.people__item
										.people__item-leadtext
										.people__item-media
											.people__item-media-wrap(style="background-image: url('./img/people/img-6.jpg')")
												img.people__item-img(src="./img/people-null.gif" alt="")
											.people__item-media-bg
										.people__item-content
											h4.people__item-title
												span Ольга Самохвалова
											p.people__item-info Знаток человеческих историй
