---
title: Опросы
---
extends layouts/_layout
block content
	.page
		.page__header
			h1.page__title Опросы
		.page__content
			.article-list.article-list_no-gutters-md
				.article-list__wrap
					.row
						.col-12.article-list__col
							.quiz.quiz_column
								.quiz__header(style="background-image: url('./img/quiz-bg.svg'); background-color: #f9d548;")
									.quiz__title Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.radio
												input#radio1(type="radio" name="radio" value="radio1")
												label(for="radio1") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio2(type="radio" name="radio" value="radio2")
												label(for="radio2") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio3(type="radio" name="radio" value="radio3")
												label(for="radio3") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio4(type="radio" name="radio" value="radio4")
												label(for="radio4") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio5(type="radio" name="radio" value="radio5")
												label(for="radio5") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio6(type="radio" name="radio" value="radio6")
												label(for="radio6") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.quiz__form-submit
											.btn.btn_def Проголосовать
						.col-12.article-list__col
							.quiz.quiz_column
								.quiz__header(style="background-image: url('./img/quiz-bg_black.svg'); background-color: #333;")
									.quiz__title(style="color: #fff;") Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.radio
												input#radio11(type="radio" name="radio1" value="radio11")
												label(for="radio11") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio12(type="radio" name="radio1" value="radio12")
												label(for="radio12") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio13(type="radio" name="radio1" value="radio13")
												label(for="radio13") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio14(type="radio" name="radio1" value="radio14")
												label(for="radio14") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio15(type="radio" name="radio1" value="radio15")
												label(for="radio15") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio16(type="radio" name="radio1" value="radio16")
												label(for="radio16") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.quiz__form-submit
											.btn.btn_def Проголосовать
						.col-12.article-list__col
							.quiz.quiz_column
								.quiz__header(style="background-image: url('./img/quiz-bg_red.svg'); background-color: #e04343;")
									.quiz__title(style="color: #fff;") Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.radio
												input#radio21(type="radio" name="radio2" value="radio21")
												label(for="radio21") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio22(type="radio" name="radio2" value="radio22")
												label(for="radio22") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio23(type="radio" name="radio2" value="radio23")
												label(for="radio23") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio24(type="radio" name="radio2" value="radio24")
												label(for="radio24") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio25(type="radio" name="radio2" value="radio25")
												label(for="radio25") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio26(type="radio" name="radio2" value="radio26")
												label(for="radio26") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.quiz__form-submit
											.btn.btn_def Проголосовать
						.col-12.article-list__col
							.quiz.quiz_column
								.quiz__header(style="background-image: url('./img/quiz-bg_grey.svg'); background-color: #e2e1e1;")
									.quiz__title Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.radio
												input#radio31(type="radio" name="radio3" value="radio31" disabled)
												label(for="radio31") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio32(type="radio" name="radio3" value="radio32" checked)
												label(for="radio32") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio33(type="radio" name="radio3" value="radio33" disabled)
												label(for="radio33") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio34(type="radio" name="radio3" value="radio34" disabled)
												label(for="radio34") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
											.radio
												input#radio35(type="radio" name="radio3" value="radio35" disabled)
												label(for="radio35") &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
											.radio
												input#radio36(type="radio" name="radio3" value="radio36" disabled)
												label(for="radio36") &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
										.quiz__form-submit
											.btn.btn_def.disabled Вы проголосовали!
						.col-12.article-list__col
							.quiz.quiz_column
								.quiz__header(style="background-image: url('./img/quiz-bg_grey.svg'); background-color: #e2e1e1;")
									.quiz__title Выберите лучший выпуск номера
								.quiz__content
									form.quiz__form(action="" autocomplete="on")
										.quiz__form-list
											.progress
												.progress__title <b>41%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:41%;")
											.progress
												.progress__title <b>28%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:28%;")
											.progress
												.progress__title <b>11%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:11%;")
											.progress
												.progress__title <b>10%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:10%;")
											.progress
												.progress__title <b>5%</b> &laquo;Лайфхаки от&nbsp;Петровича: Чтоб головушка не&nbsp;болела&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:5%;")
											.progress
												.progress__title <b>3%</b> &laquo;Как сделать подвал теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов&raquo;
												.progress__wrap
													.progress__line
													.progress__bar(style="width:3%;")
										.quiz__form-submit
											.btn.btn_def.disabled Опрос завершен!
