---
title: Результаты поиска
---
extends layouts/_layout
block content
	.page
		.page__header
			form.form-search(data-role="form-search")
				.form-search__wrap
					.form-search__input-wrapper
						input.form-search__input(type="text" placeholder="Введите запрос" value="подвал")
					button.btn.btn_def.form-search__btn Искать
			h1.page__title Результаты поиска
		.page__content
			.article-list
				.article-list__wrap
					.row
						-
							var listArticle = [
								{
									"label": "Отделка",
									"title": "Заголовок как сделать <span class='highlight'>подвал</span> теплым и&nbsp;сухим за&nbsp;9&nbsp;шагов",
									"leadtext": "Краткое описание статьи в&nbsp;две строки, как сделать <span class='highlight'>подвал</span> теплым, обычно 100-150 символов с&nbsp;пробелами."
								}
							];
						- for (var i = 0; i < 12; i++)
							each item, index in listArticle
								- ind = (i + 2) > 4 ? 2 : i + 2
								.col-12.article-list__col
									a.article-item.article-item_list(href="#2")
										span.article-item__media(style="background-image: url('./img/article-list/img-"+ ind +".jpg')")
										span.article-item__content
											span.article-item__header
												span.article-item__label!= item.label
												span.article-item__header-wrap
													h4.article-item__title!= item.title
													span.article-item__leadtext
														p!= item.leadtext
											span.article-item__review-wrap
												ul.article-item__review
													li.article-item__review-item.article-item__review-item_icon-eye
														svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14")
															path(d="M19.9 6.667c-.044-.067-1.112-1.674-2.846-3.3-1.027-.964-2.076-1.733-3.118-2.287C12.606.372 11.28.013 10 .013c-1.281 0-2.605.359-3.936 1.067-1.042.554-2.09 1.323-3.118 2.286C1.212 4.993.144 6.6.1 6.667c-.133.202-.133.464 0 .666.044.067 1.112 1.674 2.846 3.301 1.027.963 2.076 1.732 3.118 2.286 1.33.708 2.655 1.067 3.936 1.067 1.281 0 2.606-.359 3.936-1.067 1.042-.554 2.09-1.323 3.118-2.286C18.788 9.007 19.856 7.4 19.9 7.333c.133-.202.133-.464 0-.666zm-3.659 3.107c-1.473 1.377-3.752 3.02-6.24 3.02-2.49 0-4.769-1.643-6.242-3.02C2.573 8.664 1.7 7.54 1.307 7c.394-.542 1.266-1.665 2.452-2.774C5.232 2.85 7.51 1.206 10 1.206c2.49 0 4.768 1.643 6.241 3.02C17.427 5.336 18.3 6.46 18.693 7c-.394.542-1.266 1.665-2.452 2.774z" transform="translate(-130 -1485) translate(130 1485)")
															path(d="M10 3.847C8.293 3.847 6.904 5.262 6.904 7S8.293 10.153 10 10.153 13.096 8.738 13.096 7 11.707 3.847 10 3.847zm0 5.112C8.939 8.96 8.076 8.08 8.076 7S8.939 5.04 10 5.04s1.925.88 1.925 1.96S11.06 8.96 10 8.96z" transform="translate(-130 -1485) translate(130 1485)")
														span.article-item__review-quantity 327
													li.article-item__review-item.article-item__review-item_icon-heart
														svg.svg-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15")
															path(d="M14.692 1.41C13.864.513 12.704.002 11.489 0c-1.216.002-2.376.512-3.205 1.41L8 1.71l-.282-.3C6.074-.377 3.306-.48 1.536 1.18c-.079.074-.155.15-.227.23-1.745 1.898-1.745 4.832 0 6.73l6.277 6.68c.217.231.58.241.808.022l.022-.022 6.276-6.68c1.744-1.897 1.744-4.832 0-6.73zm-.828 5.936L8 13.585 2.138 7.346c-1.333-1.45-1.333-3.692 0-5.143C3.348.88 5.393.797 6.705 2.018c.064.06.125.121.184.185l.697.742c.23.23.6.23.83 0l.697-.741C10.323.88 12.37.797 13.68 2.019c.064.059.125.12.184.185 1.345 1.453 1.354 3.699 0 5.142z" transform="translate(-209 -1484) translate(209 1484)")
														span.article-item__review-quantity 115
										span.article-item__bg(style="background-image: url('./img/mask.jpg')")
				.pager.pager_padding
					.pager__wrap.pager__wrap_scroll
						ul.pager__list
							- for (var i = 1; i < 6; i++)
								li.pager__list-item(class=(i === 3) ? "is-active" : "")
									a.pager__link(href="#")!= i
							li.pager__list-item
								a.pager__link(href="#") Вперед