$icons: (0:0);
$icons: map-merge($icons,('facebook': (X: -30px, Y:0px, W: 10px, H: 19px, TW: 40px, TH: 38px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('facebook@2x': (X: 0px, Y:0px, W: 20px, H: 38px, TW: 40px, TH: 38px, IMG: '../img/sprite.png')));


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}

@mixin sprite-position($iconName) {
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}

@mixin sprite-retina($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  $width: icon-attr($iconName, W);
  $height: icon-attr($iconName, H);
  width: $width/2;
  height: $height/2;
  $x: icon-attr($iconName, X);
  $y: icon-attr($iconName, Y);
  background-position: $x/2 $y/2;
  $tw: icon-attr($iconName, TW);
  $th: icon-attr($iconName, TH);
  background-size: $tw/2 $th/2
}

@mixin s($i) {
  @inclide sprite($i);
}

@mixin sp($i) {
  @include sprite-position($i);
}

@mixin sr($i) {
  @include sprite-retina($i);
}

//
//.icon-facebook {
//  width: 10px;
//  height: 19px;
//  background-image: url('../img/sprite.png');
//  background-position: -30px 0px;
//}
//
//.icon-facebook@2x {
//  width: 20px;
//  height: 38px;
//  background-image: url('../img/sprite.png');
//  background-position: 0px 0px;
//}
//